<div class="yxt-Alexis">
    hi!
    <ol>
        {{#each events}}
            <li>{{this}}</li>
        {{/each}}
    </ol>
    <button class="yxt-Alexis-button js-Alexis-testButton">
        click here to clear results
    </button>
</div>
