<h1>{{title}}</h1>
<div class="yext-search-container">
  <label for="query">{{searchText}}</label>
  <input class="js-yext-query"
         type="text"
         name="query"
         value="{{query}}"
         {{#if _config.placeholderText}}placeholder="{{_config.placeholderText}}"{{/if}}>
  </input>
  <div class="yxt-SearchBar-autocomplete"></div>
</div>
