<div class="yxt-SpellCheck">
  {{#if shouldShow}}
    <div class="yxt-SpellCheck-container">
      {{helpText}} <a href="{{correctedQueryUrl}}">{{{correctedQueryDisplay}}}</a>
    </div>
  {{/if}}
</div>