{{#if shouldShow}}
  <div class="yxt-SpellCheck">
    <div class="yxt-SpellCheck-container">
      <span class="yxt-SpellCheck-helpText">{{helpText}}</span>
      <a href="{{correctedQueryUrl}}">
        {{highlightValue correctedQuery false}}
      </a>
    </div>
  </div>
{{/if}}