{{#if shouldShow}}
  <div class="yxt-SpellCheck">
    <div class="yxt-SpellCheck-container">
      {{helpText}} <a href="{{correctedQueryUrl}}">{{{correctedQueryDisplay}}}</a>
    </div>
  </div>
{{/if}}