{{#if shouldShow}}
  <div class="yxt-SpellCheck">
    <div class="yxt-SpellCheck-container">
      <span class="yxt-SpellCheck-helpText">{{helpText}}</span> 
      <a href="{{correctedQueryUrl}}">{{{correctedQueryDisplay}}}</a>
    </div>
  </div>
{{/if}}