<div class="yxt-SearchTimeline">
  <div class="yxt-SearchTimeline-container">
  <h2>Timeline</h2>
    <button type="button" class="js-SearchTimeline-clearButton yxt-SearchTimeline-clearButton">Clear</button>
    <ul>
      {{#each events}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>