<div class="yxt-Timeline">
  <div class="yxt-Timeline-container">
    <ul class="yxt-Timeline-list">
      {{#each events}}
        <li class="yxt-Timeline-list-element">{{this}}</li>
      {{/each}}
    </ul>
    <button class="js-Timeline-clearButton yxt-Timeline-clear">Clear results</button>
  </div>
</div>