.alertify {
  @include Text($color: black, $size: var(--yxt-font-size-md-lg));

  .ajs-button {
    border-style: none;
    border-radius: 5px;

    &.ajs-ok {
      background-color: var(--yxt-color-brand-primary);
      color: #fff;
    }
  }

  .ajs-dialog {
    border-radius: 5px;
  }
  
  .ajs-header, .ajs-footer {
    background-color: transparent;
  }
}
