*:focus
{
  outline: none;
}

input[type='checkbox']:focus
{
  outline: black solid 1px;
}

body
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yxt-Container
{
  font-family: $font-family;
}