.yxt-Answers-component {
  *:focus
  {
    outline: none;
  }

  input[type='checkbox']:focus
  {
    outline: black solid 1px;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}