$color-background-highlight: #fafafa !default;
$color-background-dark: #A8A8A8 !default;
$color-brand-primary: #0f70f0 !default;
$color-brand-hover: #0C5ECB !default;
$color-brand-white: #fff !default;

$color-text-primary: #212121 !default;
$color-text-secondary: #757575 !default;
$color-text-neutral: #616161 !default;

$color-link-primary: var(--yxt-color-brand-primary) !default;

$color-borders: #dcdcdc !default;

$color-error: #940000 !default;

:root {
  --yxt-color-background-highlight: #{$color-background-highlight};
  --yxt-color-background-dark: #{$color-background-dark};
  --yxt-color-brand-primary: #{$color-brand-primary};
  --yxt-color-brand-hover: #{$color-brand-hover};
  --yxt-color-brand-white: #{$color-brand-white};

  --yxt-color-text-primary: #{$color-text-primary};
  --yxt-color-text-secondary: #{$color-text-secondary};
  --yxt-color-text-neutral: #{$color-text-neutral};

  --yxt-color-link-primary: #{$color-link-primary};

  --yxt-color-borders: #{$color-borders};

  --yxt-color-error: #{$color-error};
}
