$base-spacing-sm: 12px !default;
$base-spacing: 16px !default;

$border-default: 1px solid $color-gray4 !default;

$breakpoint-mobile-max: 767px;
$breakpoint-mobile-min: 768px;
$z-index-nav-more-modal: 1;
