$base-spacing-sm: 12px !default;
$base-spacing: 16px !default;

$module-footer-height: 24px !default;

$border-default: 1px solid $color-borders !default;

$breakpoint-mobile-max: 767px;
$breakpoint-mobile-min: 768px;

$breakpoint-mobile-sm-max: 575px;
$breakpoint-mobile-sm-min: 576px;
$z-index-nav-more-modal: 2;
