// Font Variables
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-normal: 400;
$font-weight-light: 300;

// AutoComplete Variables
$autocomplete-background-color: white;
$autocomplete-box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
$autocomplete-selected-color: white;
$autocomplete-selected-background-color: black;
$autocomplete-option-hover-background-color: gray;