/** @define AccordionCard */
.yxt-AccordionCard 
{
  $accordion-card-spacing: $base-spacing !default;

  $accordion-card-background-color: white !default;
  $accordion-card-content-background-color: white !default;

  $accordion-card-title-size: $font-size-md-lg !default;
  $accordion-card-title-color: $color-brand-primary !default;
  $accordion-card-title-line-height: $line-height-lg !default;
  $accordion-card-title-weight: $font-weight-normal !default;

  $accordion-card-subtitle-size: $font-size-md !default;
  $accordion-card-subtitle-color: $color-text-secondary !default;

  $accordion-card-details-size: $font-size-md !default;
  $accordion-card-details-weight: $font-weight-normal !default;
  $accordion-card-details-line-height: $line-height-md !default;
  $accordion-card-details-color: $color-text-primary !default;

  $accordion-card-margin: $base-spacing / 2 !default;
  $accordion-card-border: $border-default !default;

  background-color: $accordion-card-background-color;

  border-bottom: $accordion-card-border;
  border-right: $accordion-card-border;
  border-left: $accordion-card-border;

  margin-right: $accordion-card-margin;
  margin-bottom: $accordion-card-margin;

  border-top: $accordion-card-border;

  @media (max-width: $breakpoint-mobile-max) 
  {
    margin-bottom: 0;
    border-top: 0;
    &--0 {
      border-top: $accordion-card-border;
    }
  }

  &--expanded 
  {
    background-color: $accordion-card-content-background-color;
  }
  
  &-toggle
  {
    width: 100%;
    display: flex;
    cursor: pointer;
    height: $accordion-card-spacing * 2.75;
  }

  &-title
  {
    margin-top: $accordion-card-spacing * 0.5;
    margin-right: $accordion-card-spacing;
    margin-left: $accordion-card-spacing;
    @include Text(
      $size: $accordion-card-title-size,
      $color: $accordion-card-title-color,
      $line-height: $accordion-card-title-line-height,
      $weight: $accordion-card-title-weight,
    );
  }

  &-icon {
    margin-left: auto;
  }

  &-icon svg
  {
    margin: $accordion-card-spacing;
    transform: rotate(90deg);
    transition: transform 400ms ease-in;
  }

  &-icon--expanded svg
  {
    transform: rotate(-90deg);
  }

  &-content
  {
    margin: 0 $accordion-card-spacing;
    height: 0;
    overflow: hidden;
    transition: all 400ms ease;
  }

  &-content--expanded 
  {
    margin-bottom: $accordion-card-spacing / 2;
    display: block;
  }

  &-content--initExpanded 
  {
    height: auto;
  }

  &-subtitle
  {
    margin-bottom: $accordion-card-spacing / 2;
    @include Text(
      $size: $accordion-card-subtitle-size,
      $color: $accordion-card-subtitle-color,
    );
  }

  &-details
  {
    margin-bottom: $accordion-card-spacing / 2;
    @include Text(
      $size: $accordion-card-details-size,
      $color: $accordion-card-details-color,
      $weight: $accordion-card-details-weight,
      $line-height: $accordion-card-details-line-height,
    );
  }
}
