$accordion-result-border: var(--yxt-border-default) !default;

$accordion-result-background-color: white !default;
$accordion-result-hover-color: var(--yxt-color-background-highlight) !default;

$accordion-result-title-font-size: var(--yxt-font-size-md-lg) !default;
$accordion-result-title-line-height: var(--yxt-line-height-lg) !default;
$accordion-result-title-font-weight: var(--yxt-font-weight-semibold) !default;
$accordion-result-title-color: var(--yxt-color-brand-primary) !default;

$accordion-result-details-font-size: var(--yxt-font-size-md) !default;
$accordion-result-details-line-height: var(--yxt-line-height-md-sm) !default;
$accordion-result-details-font-weight: var(--yxt-font-weight-normal) !default;
$accordion-result-details-color: var(--yxt-color-text-primary) !default;

$accordion-result-cta-font-size: var(--yxt-font-size-md) !default;
$accordion-result-cta-line-height: var(--yxt-line-height-xxlg) !default;
$accordion-result-cta-font-weight: var(--yxt-font-weight-normal) !default;

:root {
  --yxt-accordion-result-border: #{$accordion-result-border};
  --yxt-accordion-result-background-color: #{$accordion-result-background-color};
  --yxt-accordion-result-hover-color: #{$accordion-result-hover-color};
  --yxt-accordion-result-title-font-size: #{$accordion-result-title-font-size};
  --yxt-accordion-result-title-line-height: #{$accordion-result-title-line-height};
  --yxt-accordion-result-title-font-weight: #{$accordion-result-title-font-weight};
  --yxt-accordion-result-title-color: #{$accordion-result-title-color};
  --yxt-accordion-result-details-font-size: #{$accordion-result-details-font-size};
  --yxt-accordion-result-details-line-height: #{$accordion-result-details-line-height};
  --yxt-accordion-result-details-font-weight: #{$accordion-result-details-font-weight};
  --yxt-accordion-result-details-color: #{$accordion-result-details-color};
  --yxt-accordion-result-cta-font-size: #{$accordion-result-cta-font-size};
  --yxt-accordion-result-cta-line-height: #{$accordion-result-cta-line-height};
  --yxt-accordion-result-cta-font-weight: #{$accordion-result-cta-font-weight};
}

.yxt-AccordionResult
{
  background-color: var(--yxt-accordion-result-background-color);
  width: 100%;

  & + &
  {
    border-top: var(--yxt-accordion-result-border);
  }

  &:hover,
  &:not(.is-collapsed)
  {
    background-color: var(--yxt-accordion-result-hover-color);
  }

  &-title
  {
    @include Text(
      $size: var(--yxt-accordion-result-title-font-size),
      $line-height: var(--yxt-accordion-result-title-line-height),
      $weight: var(--yxt-accordion-result-title-font-weight),
      $color: var(--yxt-accordion-result-title-color)
    );
  }

  &-indicatorWrapper
  {
    flex-shrink: 0;
  }

  &-details
  {
    @include Text(
      $size: var(--yxt-accordion-result-details-font-size),
      $line-height: var(--yxt-accordion-result-details-line-height),
      $weight: var(--yxt-accordion-result-details-font-weight),
      $color: var(--yxt-accordion-result-details-color)
    );

    white-space: pre-line;
  }

  &-ctasWrapper
  {
    margin-top: calc(var(--yxt-base-spacing) / 2);
  }

  &-ctas
  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-cta
  {
    @include Text(
      $size: var(--yxt-accordion-result-cta-font-size),
      $line-height: var(--yxt-accordion-result-cta-line-height),
      $weight: var(--yxt-accordion-result-cta-font-weight),
    );
    @include Link-1;

    display: flex;
    align-items: center;
  }

  &-toggle
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    padding-top: calc(var(--yxt-base-spacing) / 2);
    padding-bottom: 10px;
    padding-left: 1em;
    padding-right: 1em;
  }

  &-indicator
  {
    display: flex;
    transform: rotate(-90deg);
    transition: transform 400ms ease-in;
  }

  &-content
  {
    padding-top: calc(var(--yxt-base-spacing-sm) / 2);
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
  }

  &-body
  {
    transition: all 400ms ease-in;
    overflow: hidden;
  }

  &.is-collapsed &-body
  {
    height: 0;
    border-top: 0;
  }

  &.is-collapsed &-indicator
  {
    transform: rotate(90deg);
  }
}
