/** @define AccordionCard */
.yxt-AccordionCard 
{
  $accordion-card-spacing: $base-spacing !default;

  $accordion-card-background-color: white !default;
  $accordion-card-content-background-color: white !default;

  $accordion-card-toggle-icon-height: $accordion-card-spacing !default;
  $accordion-card-toggle-icon-width: $accordion-card-spacing * 7/10 !default;

  $accordion-card-title-size: $font-size-md-lg !default;
  $accordion-card-title-color: $color-brand-primary !default;
  $accordion-card-title-color-hover: $color-background-highlight !default;
  $accordion-card-title-line-height: $line-height-lg !default;
  $accordion-card-title-weight: $font-weight-semibold !default;

  $accordion-card-subtitle-size: $font-size-md !default;
  $accordion-card-subtitle-color: $color-text-secondary !default;

  $accordion-card-details-size: $font-size-md !default;
  $accordion-card-details-weight: $font-weight-normal !default;
  $accordion-card-details-line-height: $line-height-md !default;
  $accordion-card-details-color: $color-text-primary !default;

  $accordion-card-margin: $base-spacing / 2 !default;
  $accordion-card-border: $border-default !default;

  background-color: $accordion-card-background-color;

  @media (max-width: $breakpoint-mobile-max) 
  {
    margin-bottom: 0;
    border-top: 0;
  }
  
  &-toggle
  {
    width: 100%;
    display: flex;
    cursor: pointer;
    background: none;
    border: 0;
    padding: 0;
    padding-right: $accordion-card-spacing * 0.5;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:hover 
    { 
      background-color: $accordion-card-title-color-hover;
    }

    &:focus {
      background-color: $accordion-card-title-color-hover;
    }
  }

  &-toggle svg 
  {
    height: $accordion-card-toggle-icon-height;
    width: $accordion-card-toggle-icon-width;
    color: $color-brand-primary;
  }

  &-title
  {
    margin-top: $accordion-card-spacing / 2;
    margin-right: $accordion-card-spacing;
    margin-left: $accordion-card-spacing;
    margin-bottom: $accordion-card-spacing * 5/8;
    text-align: left;
    @include Text(
      $size: $accordion-card-title-size,
      $color: $accordion-card-title-color,
      $line-height: $accordion-card-title-line-height,
      $weight: $accordion-card-title-weight,
    );
  }

  &-icon 
  {
    margin-left: auto;
    margin-right: $accordion-card-spacing / 2;
    margin-top: $accordion-card-spacing * 0.75;
    flex-shrink: 0;
  }

  &-icon svg
  {
    transform: rotate(90deg);
    transition: all 400ms ease-in;
  }

  &-body
  {
    transition: all 400ms ease-in;
    overflow: hidden;
  }

  &-content
  {
    margin-top: $accordion-card-spacing * 0.5;
    margin-right: $accordion-card-spacing;
    margin-left: $accordion-card-spacing;
    padding-bottom: $accordion-card-spacing * 5/8;
    height: 0;
  }

  &-subtitle
  {
    @include Text(
      $size: $accordion-card-subtitle-size,
      $color: $accordion-card-subtitle-color,
    );
    padding-bottom: $accordion-card-spacing / 2;
  }

  &-details
  {
    @include Text(
      $size: $accordion-card-details-size,
      $color: $accordion-card-details-color,
      $weight: $accordion-card-details-weight,
      $line-height: $accordion-card-details-line-height,
    );
  }

  &-ctas 
  {
    margin-top: $accordion-card-spacing / 2;
  }
}

.yxt-AccordionCard--expanded 
{
  $accordion-card-background-color--expanded: white;
  $accordion-card-spacing--expanded: $base-spacing !default;

  background-color: $accordion-card-background-color--expanded;

  .yxt-AccordionCard-icon svg
  {
    transform: rotate(-90deg);
    transition: all 400ms ease-in;
  }

  .yxt-AccordionCard-body
  {
    transition: all 400ms ease-in;
  }

  .yxt-AccordionCard-content  
  {
    height: auto;
    overflow: hidden;
  }

  .yxt-AccordionCard-ctas
  {
    display: flex;
    flex-direction: column;
  }

  .yxt-CTACollection-item:not(:last-child)
  {
    margin-bottom: $accordion-card-spacing--expanded / 2;
  }
}