/** @define AlternativeVerticals */
.yxt-AlternativeVerticals
{
  font-weight: $font-weight-light;
  background-color: $color-brand-white;
  border: $border-default;

  $alternative-verticals-emphasized-font-weight: $font-weight-medium !default;

  @media (min-width: $breakpoint-mobile-max) {
    margin-bottom: 24px;
  }

  &--notShowingResults
  {
    border-bottom: $border-default;
  }

  &-noResultsInfo {
    background-color: $color-brand-primary;
    color: $color-brand-white;
    font-size: $font-size-md;
    padding: $base-spacing / 2;

    &--emphasized {
      font-weight: $alternative-verticals-emphasized-font-weight;
    }

    @media (min-width: $breakpoint-mobile-max) {
      font-size: $font-size-xlg;
      padding: 10px 20px;
    }
  }

  &-suggestionsWrapper {
    padding: $base-spacing;
  }

  &-details {
    font-size: $font-size-md;

    &--query {
      font-weight: $font-weight-normal;
    }

    @media (min-width: $breakpoint-mobile-max) {
      font-size: $font-size-md-lg;
    }
  }

  &-suggestionsList {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  &-suggestion {
    display: flex;
    margin: $base-spacing * 0.75 0;

    @media (max-width: $breakpoint-mobile-max) {
      margin: $base-spacing / 2 0;
    }
  }

  &-suggestionLink {
    display: flex;
    text-decoration: none;

    > :not(:last-child) {
      margin-right: 5px;
    }

    &:hover {
      .yxt-AlternativeVerticals-suggestionLink--copy {
        text-decoration: underline;
      }
    }

    &--copy {
      font-weight: $alternative-verticals-emphasized-font-weight;
    }
  }

  &-arrowIconWrapper,
  &-verticalIconWrapper {
    display: flex;
    align-items: center;
  }

  &-arrowIconWrapper {
    &,
    > * {
      width: 9px;
    }
  }

  &-universalLink {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-universalDetails {
    font-size: $font-size-md;

    @media (min-width: $breakpoint-mobile-max) {
      font-size: $font-size-md-lg;
    }
  }

  a {
    color: $color-brand-primary;

    &:hover,
    &:active {
      color: $color-brand-hover;
    }
  }
}
