@keyframes reverse-a0_o { 0% { opacity: 0; } 89.82% { opacity: 0; } 100% { opacity: 1; } }
@keyframes reverse-a1_o { 0% { opacity: 0; } 80.24% { opacity: 0; } 89.82% { opacity: 1; } 100% { opacity: 0; } }
@keyframes reverse-a2_o { 0% { opacity: 0; } 70.06% { opacity: 0; } 80.24% { opacity: 1; } 89.82% { opacity: 0; } 100% { opacity: 0; } }
@keyframes reverse-a3_o { 0% { opacity: 0; } 59.88% { opacity: 0; } 70.06% { opacity: 1; } 80.24% { opacity: 0; } 100% { opacity: 0; } }
@keyframes reverse-a4_o { 0% { opacity: 0; } 50.299% { opacity: 0; } 59.88% { opacity: 1; } 70.06% { opacity: 0; } 100% { opacity: 0; } }
@keyframes reverse-a5_o { 0% { opacity: 0; } 40.12% { opacity: 0; } 50.299% { opacity: 1; } 59.88% { opacity: 0; } 100% { opacity: 0; } }
@keyframes reverse-a6_o { 0% { opacity: 0; } 29.94% { opacity: 0; } 40.12% { opacity: 1; } 50.299% { opacity: 0; } 100% { opacity: 0; } }
@keyframes reverse-a7_o { 0% { opacity: 0; } 20.359% { opacity: 0; } 29.94% { opacity: 1; } 40.12% { opacity: 0; } 100% { opacity: 0; } }
@keyframes reverse-a8_o { 0% { opacity: 0; } 10.18% { opacity: 0; } 20.359% { opacity: 1; } 29.94% { opacity: 0; } 100% { opacity: 0; } }
@keyframes reverse-a9_o { 0% { opacity: 0; } 10.18% { opacity: 1; } 20.359% { opacity: 0; } 100% { opacity: 0; } }
@keyframes reverse-a10_o { 0% { opacity: 1; } 10.18% { opacity: 0; } 100% { opacity: 0; } }

.yxt-AnimatedReverse
{
  color: black;
  background: rgba(255,255,255,0.00);
}

.yxt-AnimatedReverse--inactive
{
  display: none;
}

.yxt-AnimatedReverse--active > g
{
  animation-duration: 0.17s;
  animation-timing-function: linear;
  animation-fill-mode: both;

  &:nth-of-type(1) 
  {
    animation-name: reverse-a0_o;
  }
  
  &:nth-of-type(2) 
  {
    animation-name: reverse-a1_o;
  }
  
  &:nth-of-type(3) 
  {
    animation-name: reverse-a2_o;
  }
  
  &:nth-of-type(4) 
  {
    animation-name: reverse-a3_o;
  }
  
  &:nth-of-type(5) 
  {
    animation-name: reverse-a4_o;
  }
  
  &:nth-of-type(6) 
  {
    animation-name: reverse-a5_o;
  }
  
  &:nth-of-type(7) 
  {
    animation-name: reverse-a6_o;
  }
  
  &:nth-of-type(8) 
  {
    animation-name: reverse-a7_o;
  }
  
  &:nth-of-type(9) 
  {
    animation-name: reverse-a8_o;
  }
  
  &:nth-of-type(10) 
  {
    animation-name: reverse-a9_o;
  }
  
  &:nth-of-type(11) 
  {
    animation-name: reverse-a10_o;
  }
}
