/** @define AutoComplete */

$autocomplete-background-color: white !default;
$autocomplete-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.47) !default;;
$autocomplete-selected-background-color: #f9f9f9 !default;
$autocomplete-option-hover-background-color: #f9f9f9 !default;
$autocomplete-separator-color: var(--yxt-color-borders) !default;

$autocomplete-text-font-size: var(--yxt-font-size-md-lg) !default;
$autocomplete-text-line-height: var(--yxt-line-height-md) !default;
$autocomplete-text-font-weight: var(--yxt-font-weight-normal) !default;
$autocomplete-text-color: var(--yxt-color-text-primary) !default;
$autocomplete-prompt-header-font-weight: var(--yxt-font-weight-light) !default;

:root {
  --yxt-autocomplete-background-color: #{$autocomplete-background-color};
  --yxt-autocomplete-box-shadow: #{$autocomplete-box-shadow};
  --yxt-autocomplete-selected-background-color: #{$autocomplete-selected-background-color};
  --yxt-autocomplete-option-hover-background-color: #{$autocomplete-option-hover-background-color};
  --yxt-autocomplete-separator-color: #{$autocomplete-separator-color};
  --yxt-autocomplete-text-font-size: #{$autocomplete-text-font-size};
  --yxt-autocomplete-text-line-height: #{$autocomplete-text-line-height};
  --yxt-autocomplete-text-font-weight: #{$autocomplete-text-font-weight};
  --yxt-autocomplete-text-color: #{$autocomplete-text-color};
  --yxt-autocomplete-prompt-header-font-weight: #{$autocomplete-prompt-header-font-weight};
}

.yxt-AutoComplete
{
  padding-bottom: 10px;

  &:before
  {
    @media (min-width: $breakpoint-mobile-min) {
      margin-left: var(--yxt-base-spacing);
      margin-right: var(--yxt-base-spacing);
      margin-bottom: calc(0.625 * var(--yxt-base-spacing));
      height: 1px;
      background-color: var(--yxt-autocomplete-separator-color);
      content: "";
      display: block;
    }
  }

  &-results
  {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &-wrapper
  {
    background-color: var(--yxt-autocomplete-background-color);
  }

  &-option
  {
    padding-left: var(--yxt-base-spacing);
    padding-right: var(--yxt-base-spacing);
    padding-top: calc(var(--yxt-base-spacing) / 4);
    padding-bottom: calc(var(--yxt-base-spacing) / 4);

    &--promptHeader
    {
      @include Text(
        $size: var(--yxt-autocomplete-text-font-size),
        $line-height: var(--yxt-autocomplete-text-line-height),
        $weight: var(--yxt-autocomplete-prompt-header-font-weight),
        $color: var(--yxt-autocomplete-text-color),
        $style: italic
      );
    }

    &--item
    {
      cursor: pointer;

      @include Text(
        $size: var(--yxt-autocomplete-text-font-size),
        $line-height: var(--yxt-autocomplete-text-line-height),
        $weight: var(--yxt-autocomplete-text-font-weight),
        $color: var(--yxt-autocomplete-text-color)
      );

      &.yxt-selected
      {
        background-color: var(--yxt-autocomplete-selected-background-color);
      }

      strong
      {
        font-weight: var(--yxt-font-weight-semibold);
      }

      &:hover
      {
        background-color: var(--yxt-autocomplete-option-hover-background-color);
      }
    }
  }
}
