/** @define AutoComplete */
.yxt-AutoComplete
{
  $autocomplete-background-color: white !default;
  $autocomplete-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.47) !default;;
  $autocomplete-selected-background-color: $color-gray8 !default;
  $autocomplete-option-hover-background-color: $color-gray8 !default;
  $autocomplete-separator-color: $color-gray7 !default;

  $autocomplete-text-font-size: $font-size-md-lg !default;
  $autocomplete-text-line-height: $line-height-md !default;
  $autocomplete-text-font-weight: $font-weight-semibold !default;
  $autocomplete-text-color: $color-text-primary !default;

  padding-bottom: 10px;

  &:before
  {
    margin-left: $base-spacing-sm*2;
    margin-right: $base-spacing-sm*2;
    margin-bottom: 10px;
    height: 1px;
    background-color: $autocomplete-separator-color;
    content: "";
    display: block;
  }

  &-wrapper
  {
    background-color: $autocomplete-background-color;
  }

  &-option
  {
    @include Text(
      $size: $autocomplete-text-font-size,
      $line-height: $autocomplete-text-line-height,
      $weight: $autocomplete-text-font-weight,
      $color: $autocomplete-text-color
    );

    cursor: pointer;
    padding-left: $base-spacing-sm*2;
    padding-right: $base-spacing-sm*2;
    padding-top: $base-spacing / 4;
    padding-bottom: $base-spacing / 4;

    &.yxt-selected
    {
      background-color: $autocomplete-selected-background-color;
    }

    strong
    {
      font-weight: $font-weight-normal;
    }

    &:hover
    {
      background-color: $autocomplete-option-hover-background-color;
    }
  }
}
