$cards-margin: calc(var(--yxt-base-spacing) / 2) !default;

:root {
  --yxt-cards-margin: #{$cards-margin};
}

/* stylelint-disable no-duplicate-selectors */
.yxt-Card {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--yxt-cards-margin);

  &,
  &-placeholder {
    min-width: var(--yxt-cards-min-width);
    border: var(--yxt-border-default);
    margin-right: var(--yxt-cards-margin);
  }

  &-placeholder {
    visibility: hidden;
    border-top: none;
    border-bottom: none;
  }

  &-child {
    flex-grow: 1;
    min-height: 1px;
  }

  &--universal {
    margin-bottom: 0;
  }

  &--universal + &--universal {
    border-top: 0;
  }

  // hack: Add 1px left padding on IE11 so child elements
  // with background colors won't hide this elements border
  _:-ms-fullscreen, :root & {
    padding-left: 1px;
  }

  @media (max-width: $breakpoint-mobile-max) {
    margin-bottom: 0;
    & + & {
      border-top: 0;
    }
  }
}

.yxt-Results-items {
  > .yxt-Card,
  > .yxt-Card-placeholder
  {
    flex-basis: 100%;
    flex-grow: 1;
  }

  &--1 > .yxt-Card
  {
    margin-right: 0;
  }

  @media (min-width: $breakpoint-mobile-max) {

    &--2 > .yxt-Card
    &--2 > .yxt-Card-placeholder {
      flex-basis: 45%;
    }

    &--3 > .yxt-Card,
    &--3 > .yxt-Card-placeholder {
      flex-basis: 30%;
    }

    &--4 > .yxt-Card,
    &--4 > .yxt-Card-placeholder {
      flex-basis: 22%;
    }
  }
}

.yxt-Card--universal
{
  border: var(--yxt-border-default);
  border-top: 0;
  margin: 0;
}

