.yxt-Card {
  $cards-margin: $base-spacing / 2 !default;

  display: flex;
  flex-direction: column;
  min-width: 210px;

  &-child {
    margin-right: $cards-margin;
    margin-bottom: $cards-margin;
    flex-grow: 1;
    border: $border-default;

    @media (max-width: $breakpoint-mobile-max) {
      margin-bottom: 0;
    }
  }

  @media (max-width: $breakpoint-mobile-max) {
    & + & .yxt-Card-child{
      border-top: 0;
    }
  }
}

.yxt-Results-items {
  > .yxt-Card {
    flex-basis: 100%;
    flex-grow: 1;
  }

  @media (min-width: $breakpoint-mobile-max) {

    &--2 > .yxt-Card {
      flex-basis: 50%;
    }
  
    &--3 > .yxt-Card {
      flex-basis: 33.3%;
    }
  
    &--4 > .yxt-Card {
      flex-basis: 25%;
    }
  }
}
