.yxt-Card
{
  $cards-margin: $base-spacing / 2 !default;

  display: flex;
  flex-direction: column;
  min-width: $cards-min-width;
  border: $border-default;
  margin-right: $cards-margin;
  margin-bottom: $cards-margin;

  &-child
  {
    flex-grow: 1;
  }

  @media (max-width: $breakpoint-mobile-max)
  {
    margin-bottom: 0;
    & + & {
      border-top: 0;
    }
  }
}

.yxt-Results-items
{
  > div {
    flex-grow: 1;
    flex-basis: 100%;
  }

  @media (min-width: $breakpoint-mobile-max)
  {
    &--2 > div
    {
      flex-basis: 45%;
    }
  
    &--3 > div
    {
      flex-basis: 30%;
    }
  
    &--4 > div
    {
      flex-basis: 22%;
    }
  }
}

.yxt-Card--universal
{
  $universal-results-card-border: $border-default !default;
  border: $universal-results-card-border;
  border-top: 0;
  margin: 0;
}

.yxt-Card--placeholder
{
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  min-width: $cards-min-width;

  *
  {
    display: none;
  }
}