$standard-card-cta-icon-size: calc(1.125 * var(--yxt-base-spacing)) !default;
$standard-card-cta-icon-size-solo: calc(1.5 * var(--yxt-base-spacing)) !default;
$standard-card-cta-spacing: var(--yxt-base-spacing) !default;

$accordion-card-cta-spacing: var(--yxt-base-spacing) !default;
$accordion-card-cta-icon-size: var(--yxt-base-spacing) !default;
$accordion-card-cta-font-size: var(--yxt-font-size-md) !default;
$accordion-card-cta-font-weight: var(--yxt-font-weight-normal) !default;
$accordion-card-cta-color: var(--yxt-color-brand-primary) !default;

:root {
  --yxt-standard-card-cta-icon-size: #{$standard-card-cta-icon-size};
  --yxt-standard-card-cta-icon-size-solo: #{$standard-card-cta-icon-size-solo};
  --yxt-standard-card-cta-spacing: #{$standard-card-cta-spacing};
  --yxt-accordion-card-cta-spacing: #{$accordion-card-cta-spacing};
  --yxt-accordion-card-cta-icon-size: #{$accordion-card-cta-icon-size};
  --yxt-accordion-card-cta-font-size: #{$accordion-card-cta-font-size};
  --yxt-accordion-card-cta-font-weight: #{$accordion-card-cta-font-weight};
  --yxt-accordion-card-cta-color: #{$accordion-card-cta-color};
}

.yxt-CTA {
  text-decoration: none;
  color: var(--yxt-color-brand-primary);
  display: flex;
  align-items: center;
  word-break: break-word;

  @include Text(
    $size: var(--yxt-font-size-md),
    $weight: var(--yxt-font-weight-semibold),
    $color: var(--yxt-color-brand-primary)
  );

  &:hover, &:focus, &:active {
    text-decoration: underline;
  }

  .Icon svg {
    height: calc(var(--yxt-base-spacing) * 1.125);
    width: calc(var(--yxt-base-spacing) * 1.125);
  }
}

.yxt-CTA--StandardCard {
  margin-bottom: calc(var(--yxt-standard-card-cta-spacing) * 0.5);

  .Icon {
    height: var(--yxt-standard-card-cta-icon-size);
    width: var(--yxt-standard-card-cta-icon-size);
    margin-right: calc(var(--yxt-base-spacing) / 2);
  }

  @media (min-width: $breakpoint-mobile-min) {
    &.yxt-CTA--solo {
      text-align: center;
      flex-direction: column;

      .Icon {
        height: var(--yxt-standard-card-cta-icon-size-solo);
        width: var(--yxt-standard-card-cta-icon-size-solo);
        margin-bottom: calc(var(--yxt-standard-card-cta-spacing) / 2);
        margin-right: 0;
      }
    }
  }
}

.yxt-CTA--AccordionCard {
    align-items: flex-end;

    @include Text(
      $size: var(--yxt-accordion-card-cta-font-size),
      $weight: var(--yxt-accordion-card-cta-font-weight),
      $color: var(--yxt-accordion-card-cta-color),
    );

    .Icon {
      height: var(--yxt-accordion-card-cta-icon-size);
      width: var(--yxt-accordion-card-cta-icon-size);
      margin-right: calc(var(--yxt-accordion-card-cta-spacing) * 0.5);
    }
}
