/** @define yxt-DirectAnswer */

.yxt-DirectAnswer
{
  $direct-answer-border: $border-default !default;

  $direct-answer-title-background-color: $color-brand-primary !default;
  $direct-answer-content-background-color: white !default;
  $direct-answer-footer-background-color: $color-background-highlight !default;

  $direct-answer-title-font-size: $font-size-md-lg !default;
  $direct-answer-title-line-height: $line-height-lg !default;
  $direct-answer-title-font-weight: $font-weight-semibold !default;
  $direct-answer-title-color: white !default;

  $direct-answer-content-font-size: $font-size-xlg !default;
  $direct-answer-content-line-height: $line-height-md !default;
  $direct-answer-content-font-weight: $font-weight-normal !default;
  $direct-answer-content-color: $color-text-primary !default;

  $direct-answer-view-details-font-size: $font-size-md !default;
  $direct-answer-view-details-line-height: $line-height-xxlg !default;
  $direct-answer-view-details-font-weight: $font-weight-normal !default;

  $direct-answer-footer-font-size: 13.5px !default;
  $direct-answer-footer-line-height: $line-height-md !default;
  $direct-answer-footer-font-weight: $font-weight-normal !default;
  $direct-answer-footer-color: $color-text-primary !default;

  &-title
  {
    padding-top: $base-spacing / 2;
    padding-left: $base-spacing;
    padding-bottom: $base-spacing / 2;
    padding-right: $base-spacing;
    display: flex;
    align-items: center;
    background-color: $direct-answer-title-background-color;
    border: $direct-answer-border;

    @include Text(
      $size: $direct-answer-title-font-size,
      $line-height: $direct-answer-title-line-height,
      $weight: $direct-answer-title-font-weight,
      $color: $direct-answer-title-color
    );
  }

  &-entityName
  {
    text-transform: uppercase;
  }

  &-iconWrapper
  {
    margin-right: $base-spacing-sm;
    display: inline-flex;
  }

  &-content
  {
    padding: $base-spacing;
    background-color: $direct-answer-content-background-color;
    border-left: $direct-answer-border;
    border-right: $direct-answer-border;
  }

  &-footerWrapper
  {
    background-color: $direct-answer-footer-background-color;
  }

  &-footer
  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: $base-spacing;
    padding-right: $base-spacing;
    padding-top: 10px;
    padding-bottom: 10px;
    border: $direct-answer-border;
  }

  &-footerText
  {
    @include Text(
      $size: $direct-answer-footer-font-size,
      $line-height: $direct-answer-footer-line-height,
      $weight: $direct-answer-footer-font-weight,
      $color: $direct-answer-footer-color
    );

    font-style: italic;
  }

  &-thumbs
  {
    display: flex;
    margin-left: 18px;
  }

  &-thumbUpIcon
  {
    transform: rotate(180deg);
  }

  &-thumbUpIcon,
  &-thumbDownIcon
  {
    display: inline-flex;
  }

  &-thumb
  {
    display: flex;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 24px;

    & + &
    {
      margin-left: 10px;
    }
  }

  &-fieldValue
  {
    @include Text(
      $size: $direct-answer-content-font-size,
      $line-height: $direct-answer-content-line-height,
      $weight: $direct-answer-content-font-weight,
      $color: $direct-answer-content-color
    );

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-fieldValueLink
  {
    @include Link-1;

    font-weight: $font-weight-semibold;
  }

  &-feedback
  {
    display: none;
  }

  &-viewMore
  {
    @include Text(
      $size: $direct-answer-view-details-font-size,
      $line-height: $direct-answer-view-details-line-height,
      $weight: $direct-answer-view-details-font-weight,
    )
    @include Link-1;

    display: inline-flex;
    align-items: center;
  }
}
