  /** @define FilterOptions */

  .yxt-FilterOptions {
    &-container {
      @include Text($line-height: var(--yxt-line-height-md));
    }

    &-fieldSet {
      border: 0;
      padding: 0;
      margin: 12px 0;
    }

    &-legend {
      width: 100%;
      padding: 0;
    }

    &-legendLabel {
      @include Text(
        $size: var(--yxt-font-size-md-lg),
        $line-height: var(--yxt-line-height-lg),
        $weight: var(--yxt-font-weight-semibold));
      text-align: left;
      width: 100%;
      display: flex;
      align-items: center;

      &:hover button {
        color: var(--yxt-color-text-secondary);
      }
    }

    &-option {
      display: flex;
      align-items: flex-start;
      margin: 2px 0;
      @media (max-width: $breakpoint-mobile-max) {
        margin: 22px 0;
      }
    }

    &-options {
      margin: 12px 0;
    }

    &-optionLabel {
      display: block;
    margin-left: 5px;
  }

  &-selectedCount {
    @include Text(
      $size: var(--yxt-font-size-xs),
      $weight: var(--yxt-font-weight-bold),
      $color: white);

    width: 20px;
    height: 20px;
    margin-left: 12px;
    display: flex;
    background: var(--yxt-color-background-dark);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  &-reset {
    @include Text(
      $color: var(--yxt-color-brand-primary),
      $style: italic);
    @include TextButton($padding: 0);

    @media (max-width: $breakpoint-mobile-max) {
      margin-top: 12px;
    }
  }

  &-showToggle {
    @include Text(
      $color: var(--yxt-color-brand-primary),
      $style: italic);
    @include TextButton($padding: 0);

    svg {
      width: 6px;
      margin-left: 5px;
    }
  }

  &-clickableLegend {
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:focus {
      border: 1px solid var(--yxt-color-brand-hover);
    }

    &:not(:disabled):hover {
      color: var(--yxt-color-text-secondary);
    }
  }

  &-input {
    margin-left: 0;
  }

  &-reset--right {
    margin-left: auto;
    padding: 0;
  }

  &-expand {
    margin-left: auto;

    >.Icon--chevron svg {
      height: 12px;
      width: 12px;
    }
  }

  &--collapsed {
    display: none;
  }

  &-collapseUp, &-collapseDown {
    vertical-align: middle;
  }

  &-collapseUp {
    padding-top: 2px;
  }

  &-collapseUp svg {
    transform: rotate(270deg);
  }

  &-collapseDown svg {
    transform: rotate(90deg);
  }
}
