/** @define FilterBox */

.yxt-FilterBox {
  &-container {
    box-sizing: border-box;
    width: 100%;
  }

  &-titleContainer {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 4px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &-title {
    @include Text(
      $size: var(--yxt-font-size-md-lg),
      $line-height: var(--yxt-line-height-lg),
      $weight: var(--yxt-font-weight-semibold));

    text-transform: uppercase;
    margin-left: 8px;
  }

  &-filter + &-filter {
    border-top: 1px solid var(--yxt-color-borders);
  }

  &-apply {
    @include Text(
      $size: var(--yxt-font-size-md),
      $weight: var(--yxt-font-weight-semibold),
      $color: white);

    @include Button();

    width: 90px;
    height: 40px;
  }

  &-reset {
    @include Text(
      $size: var(--yxt-font-size-md),
      $weight: var(--yxt-font-weight-semibold),
      $color: var(--yxt-color-brand-primary));

    @include TextButton(
      $padding: 5px 10px 5px 0px
    );

    text-decoration: underline;

    &:not(:disabled):hover {
      text-decoration: none;
    }

    letter-spacing: 0.5px;
  }

  &-apply + &-reset {
    padding-left: 5px;
    margin-left: 10px;
  }
}
