/** @define FilterBox */

.yxt-FilterBox {
  &-container {
    box-sizing: border-box;
    width: 100%;
  }

  &-titleContainer {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 4px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &-title {
    @include Text(
      $size: $font-size-md-lg,
      $line-height: $line-height-lg,
      $weight: $font-weight-semibold);

    text-transform: uppercase;
    margin-left: 8px;
  }

  &-filter + &-filter {
    border-top: 1px solid $color-borders;
  }

  &-apply {
    @include Text(
      $size: $font-size-md,
      $weight: $font-weight-semibold,
      $color: white);

    @include Button();

    width: 90px;
    height: 40px;
  }

  &-reset {
    @include Text(
      $size: $font-size-md,
      $weight: $font-weight-semibold,
      $color: $color-brand-primary);

    @include TextButton();

    text-decoration: underline;

    &:not(:disabled):hover {
      text-decoration: none;
    }

    margin-left: 10px;
    letter-spacing: 0.5px;
  }
}