/** @define FilterOptions */

.yxt-FilterOptions {
  &-container {
    @include Text($line-height: $line-height-md);

    button {
      @include Text(
        $color: $color-brand-primary,
        $style: italic);
      @include TextButton();

      margin-left: -10px;

      svg {
        width: 6px;
        margin-left: 5px;
      }
    }
  }

  &-fieldSet {
    border: 0;
    padding: 0;
    margin: 12px 0;
  }

  &-label {
    @include Text(
      $size: $font-size-md-lg,
      $line-height: $line-height-lg,
      $weight: $font-weight-semibold);
  }

  &-legend {
    width: 100%;
    padding: 0 0 5px 0;
  }

  &-legendLabel {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &-option {
    display: flex;
    align-items: flex-start;
    margin: 2px 0;
    @media (max-width: $breakpoint-mobile-max) {
      margin: 22px 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &-optionLabel {
    display: block;
    margin-left: 5px;
  }

  &-selectedCount {
    @include Text(
      $size: $font-size-xs,
      $weight: $font-weight-bold,
      $color: white);

    width: 20px;
    height: 20px;
    margin-left: 12px;
    display: flex;
    background: $color-background-dark;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  &-reset {
    @include Text(
      $color: $color-brand-primary,
      $style: italic);
    @include TextButton();
  }

  &-reset--right {
    margin-left: auto;
  }

  &-labelButton {
    @include TextButton();
    padding: 0;

    &:not(:disabled):hover {
      color: $color-text-secondary;
      text-decoration: none;
    }
  }

  &-expand {
    @include TextButton();
    margin-left: auto;

    &:not(:disabled):hover {
      color: $color-text-secondary;
    }
  }

  &--collapsed {
    display: none;
  }

  &-collapseUp, &-collapseDown {
    vertical-align: middle;
  }

  &-collapseUp svg {
    transform: rotate(270deg);
  }

  &-collapseDown svg {
    transform: rotate(90deg);
  }
}
