.Icon
{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg
  {
    height: 1em;
    width: 1em;
    fill: currentColor;
  }

  &-image
  {
    width: 1em;
    height: 1em;
    object-fit: contain;
  }
}
