.Icon
{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg
  {
    height: 1em;
    width: 1em;
    fill: currentColor;
  }

  &--sm svg,
  &--sm img
  {
    height: 0.5em;
    width: 0.5em;
  }

  &--lg svg,
  &--lg img
  {
    height: 2em;
    width: 2em;
  }

  &-collapseUp svg
  {
    transform: rotate(270deg);
  }

  &-collapseDown svg
  {
    transform: rotate(90deg);
  }

  &-image
  {
    width: 1em;
    height: 1em;
    object-fit: contain;
  }
}

.Icon--yext_animated_reverse svg
{
  @keyframes reverse-a0_o { 0% { opacity: 0; } 89.82% { opacity: 0; } 100% { opacity: 1; } }
  @keyframes reverse-a1_o { 0% { opacity: 0; } 80.24% { opacity: 0; } 89.82% { opacity: 1; } 100% { opacity: 0; } }
  @keyframes reverse-a2_o { 0% { opacity: 0; } 70.06% { opacity: 0; } 80.24% { opacity: 1; } 89.82% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes reverse-a3_o { 0% { opacity: 0; } 59.88% { opacity: 0; } 70.06% { opacity: 1; } 80.24% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes reverse-a4_o { 0% { opacity: 0; } 50.299% { opacity: 0; } 59.88% { opacity: 1; } 70.06% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes reverse-a5_o { 0% { opacity: 0; } 40.12% { opacity: 0; } 50.299% { opacity: 1; } 59.88% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes reverse-a6_o { 0% { opacity: 0; } 29.94% { opacity: 0; } 40.12% { opacity: 1; } 50.299% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes reverse-a7_o { 0% { opacity: 0; } 20.359% { opacity: 0; } 29.94% { opacity: 1; } 40.12% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes reverse-a8_o { 0% { opacity: 0; } 10.18% { opacity: 0; } 20.359% { opacity: 1; } 29.94% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes reverse-a9_o { 0% { opacity: 0; } 10.18% { opacity: 1; } 20.359% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes reverse-a10_o { 0% { opacity: 1; } 10.18% { opacity: 0; } 100% { opacity: 0; } }

  color: black;
  background: rgba(255,255,255,0.00);

  & > g
  {
    animation-duration: 0.18s;
    animation-timing-function: linear;
    animation-fill-mode: both;

    &:nth-of-type(1) {
      animation-name: reverse-a0_o;
    }
    &:nth-of-type(2) {
      animation-name: reverse-a1_o;
    }
    &:nth-of-type(3) {
      animation-name: reverse-a2_o;
    }
    &:nth-of-type(4) {
      animation-name: reverse-a3_o;
    }
    &:nth-of-type(5) {
      animation-name: reverse-a4_o;
    }
    &:nth-of-type(6) {
      animation-name: reverse-a5_o;
    }
    &:nth-of-type(7) {
      animation-name: reverse-a6_o;
    }
    &:nth-of-type(8) {
      animation-name: reverse-a7_o;
    }
    &:nth-of-type(9) {
      animation-name: reverse-a8_o;
    }
    &:nth-of-type(10) {
      animation-name: reverse-a9_o;
    }
    &:nth-of-type(11) {
      animation-name: reverse-a10_o;
    }
  }
}

.Icon--yext_animated_forward svg
{
  @keyframes forward-a0_o { 0% { opacity: 1; } 9.29% { opacity: 1; } 18.033% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes forward-a1_o { 0% { opacity: 0; } 9.29% { opacity: 0; } 18.033% { opacity: 1; } 27.322% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes forward-a2_o { 0% { opacity: 0; } 18.033% { opacity: 0; } 27.322% { opacity: 1; } 36.612% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes forward-a3_o { 0% { opacity: 0; } 27.322% { opacity: 0; } 36.612% { opacity: 1; } 45.355% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes forward-a4_o { 0% { opacity: 0; } 36.612% { opacity: 0; } 45.355% { opacity: 1; } 54.645% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes forward-a5_o { 0% { opacity: 0; } 45.355% { opacity: 0; } 54.645% { opacity: 1; } 63.934% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes forward-a6_o { 0% { opacity: 0; } 54.645% { opacity: 0; } 63.934% { opacity: 1; } 72.678% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes forward-a7_o { 0% { opacity: 0; } 63.934% { opacity: 0; } 72.678% { opacity: 1; } 81.967% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes forward-a8_o { 0% { opacity: 0; } 72.678% { opacity: 0; } 81.967% { opacity: 1; } 91.257% { opacity: 0; } 100% { opacity: 0; } }
  @keyframes forward-a9_o { 0% { opacity: 0; } 81.967% { opacity: 0; } 91.257% { opacity: 1; } 100% { opacity: 0; } }
  @keyframes forward-a10_o { 0% { opacity: 0; } 91.257% { opacity: 0; } 100% { opacity: 1; } }

  color: black;
  background: rgba(255,255,255,0.00);

  & > g
  {
    animation-duration: 0.18s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    
    &:nth-of-type(1) {
      animation-name: forward-a0_o;
    }
    &:nth-of-type(2) {
      animation-name: forward-a1_o;
    }
    &:nth-of-type(3) {
      animation-name: forward-a2_o;
    }
    &:nth-of-type(4) {
      animation-name: forward-a3_o;
    }
    &:nth-of-type(5) {
      animation-name: forward-a4_o;
    }
    &:nth-of-type(6) {
      animation-name: forward-a5_o;
    }
    &:nth-of-type(7) {
      animation-name: forward-a6_o;
    }
    &:nth-of-type(8) {
      animation-name: forward-a7_o;
    }
    &:nth-of-type(9) {
      animation-name: forward-a8_o;
    }
    &:nth-of-type(10) {
      animation-name: forward-a9_o;
    }
    &:nth-of-type(11) {
      animation-name: forward-a10_o;
    }
  }
}
