.Icon
{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg
  {
    height: 1em;
    width: 1em;
    fill: currentColor;
  }

  &--sm svg,
  &--lg img
  {
    height: 0.5em;
    width: 0.5em;
  }

  &--lg svg,
  &--lg img
  {
    height: 2em;
    width: 2em;
  }

  &-collapseUp svg
  {
    transform: rotate(270deg);
  }

  &-collapseDown svg
  {
    transform: rotate(90deg);
  }

  &-image
  {
    width: 1em;
    height: 1em;
    object-fit: contain;
  }
}
