/** @define LegacyCard */

$result-background-color: white !default;

$result-event-background-color: var(--yxt-color-background-highlight) !default;

$result-day-font-size: var(--yxt-font-size-xxlg) !default;
$result-day-line-height: var(--yxt-line-height-sm) !default;
$result-day-font-weight: var(--yxt-font-weight-semibold) !default;
$result-day-color: var(--yxt-color-text-primary) !default;

$result-month-font-size: var(--yxt-font-size-md) !default;
$result-month-line-height: var(--yxt-line-height-md) !default;
$result-month-font-weight: var(--yxt-font-weight-normal) !default;
$result-month-color: var(--yxt-color-text-primary) !default;

$result-ordinal-background-color: var(--yxt-color-brand-primary) !default;
$result-ordinal-font-size: var(--yxt-font-size-xs) !default;
$result-ordinal-line-height: var(--yxt-line-height-xs) !default;
$result-ordinal-font-weight: var(--yxt-font-weight-bold) !default;
$result-ordinal-color: white !default;

$result-details-font-size: var(--yxt-font-size-md) !default;
$result-details-line-height: var(--yxt-line-height-md) !default;
$result-details-font-weight: var(--yxt-font-weight-normal) !default;
$result-details-color: var(--yxt-color-text-primary) !default;

$result-title-font-size: var(--yxt-font-size-lg) !default;
$result-title-line-height: var(--yxt-line-height-lg) !default;
$result-title-font-weight: var(--yxt-font-weight-semibold) !default;
$result-title-color: var(--yxt-color-text-primary) !default;

$result-subtitle-font-size: var(--yxt-font-size-md) !default;
$result-subtitle-line-height: var(--yxt-line-height-md) !default;
$result-subtitle-font-weight: var(--yxt-font-weight-normal) !default;
$result-subtitle-color: var(--yxt-color-text-secondary) !default;

$result-cta-font-size: var(--yxt-font-size-md) !default;
$result-cta-line-height: var(--yxt-line-height-md) !default;
$result-cta-font-weight: var(--yxt-font-weight-semibold) !default;
$result-cta-color: var(--yxt-color-link-primary) !default;

:root {
  --yxt-result-background-color: #{$result-background-color};
  --yxt-result-event-background-color: #{$result-event-background-color};
  --yxt-result-day-font-size: #{$result-day-font-size};
  --yxt-result-day-line-height: #{$result-day-line-height};
  --yxt-result-day-font-weight: #{$result-day-font-weight};
  --yxt-result-day-color: #{$result-day-color};
  --yxt-result-month-font-size: #{$result-month-font-size};
  --yxt-result-month-line-height: #{$result-month-line-height};
  --yxt-result-month-font-weight: #{$result-month-font-weight};
  --yxt-result-month-color: #{$result-month-color};
  --yxt-result-ordinal-background-color: #{$result-ordinal-background-color};
  --yxt-result-ordinal-font-size: #{$result-ordinal-font-size};
  --yxt-result-ordinal-line-height: #{$result-ordinal-line-height};
  --yxt-result-ordinal-font-weight: #{$result-ordinal-font-weight};
  --yxt-result-ordinal-color: #{$result-ordinal-color};
  --yxt-result-details-font-size: #{$result-details-font-size};
  --yxt-result-details-line-height: #{$result-details-line-height};
  --yxt-result-details-font-weight: #{$result-details-font-weight};
  --yxt-result-details-color: #{$result-details-color};
  --yxt-result-title-font-size: #{$result-title-font-size};
  --yxt-result-title-line-height: #{$result-title-line-height};
  --yxt-result-title-font-weight: #{$result-title-font-weight};
  --yxt-result-title-color: #{$result-title-color};
  --yxt-result-subtitle-font-size: #{$result-subtitle-font-size};
  --yxt-result-subtitle-line-height: #{$result-subtitle-line-height};
  --yxt-result-subtitle-font-weight: #{$result-subtitle-font-weight};
  --yxt-result-subtitle-color: #{$result-subtitle-color};
  --yxt-result-cta-font-size: #{$result-cta-font-size};
  --yxt-result-cta-line-height: #{$result-cta-line-height};
  --yxt-result-cta-font-weight: #{$result-cta-font-weight};
  --yxt-result-cta-color: #{$result-cta-color};
}

.yxt-Result
{
  list-style: none;

  & + &
  {
    border-top: var(--yxt-border-default);
  }

  &-title
  {
    @include Text(
      $size: var(--yxt-result-title-font-size),
      $line-height: var(--yxt-result-title-line-height),
      $weight: var(--yxt-result-title-font-weight),
      $color: var(--yxt-result-title-color)
    );

    margin-top: 0;
    margin-bottom: calc(var(--yxt-base-spacing) / 2);
  }

  &-titleLink
  {
    @include Link-1;

    display: inline-flex;
    align-items: center;

    @media (max-width: $breakpoint-mobile-max)
    {
      display: inline;
    }
  }

  &-ordinalWrapper
  {
    margin-right: var(--yxt-base-spacing-sm);
  }

  &-ordinal
  {
    @include Text(
      $size: var(--yxt-result-ordinal-font-size),
      $line-height: var(--yxt-result-ordinal-line-height),
      $weight: var(--yxt-result-ordinal-font-weight),
      $color: var(--yxt-result-ordinal-color)
    );

    background-color: var(--yxt-result-ordinal-background-color);
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
  }

  &-wrapper
  {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    padding-top: var(--yxt-base-spacing);
    padding-bottom: var(--yxt-base-spacing);
    padding-left: var(--yxt-base-spacing);
    padding-right: var(--yxt-base-spacing);
    background-color: var(--yxt-result-background-color);
  }

  &-imageWrapper
  {
    display: flex;
    align-items: flex-start;
    width: 100px;
    min-width: 100px;
    margin-right: 1rem;
  }

  &-image
  {
    // Firefox is the only browser that handles img elements in flex containers
    // properly
    width: 100%;
  }

  &-info
  {
    flex-basis: 100%;
    @media (max-width: $breakpoint-mobile-max)
    {
      // IE 11 needs this or it will not update the height of the info component correctly, and the text/CTA will overflow.
      flex-basis: auto;
    }
  }

  &-infoCtasWrapper
  {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;

    @media (max-width: $breakpoint-mobile-max)
    {
      flex-direction: column;
    }
  }

  &-details
  {
    @include Text(
      $size: var(--yxt-result-details-font-size),
      $line-height: var(--yxt-result-details-line-height),
      $weight: var(--yxt-result-details-font-weight),
      $color: var(--yxt-result-details-color)
    );
  }

  &-ctasWrapper
  {
    display: flex;
    align-items: top;
    flex-grow: 1;
    flex-shrink: 0;

    @media (min-width: $breakpoint-mobile-min)
    {
      justify-content: flex-end;
      margin-left: calc(var(--yxt-base-spacing-sm) * 2);
    }

    @media (max-width: $breakpoint-mobile-max)
    {
      margin-top: calc(var(--yxt-base-spacing) / 2);
    }
  }

  &-ctas
  {
    display: flex;

    @media (max-width: $breakpoint-mobile-max)
    {
      flex-direction: column;
    }
  }

  &-cta
  {
    @include Link-1;

    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-top: calc(var(--yxt-base-spacing) / 2);
    padding-left: calc(var(--yxt-base-spacing) / 2);
    padding-right: calc(var(--yxt-base-spacing) / 2);
    padding-bottom: calc(var(--yxt-base-spacing) / 2);
    border-radius: 4px;
    min-width: 60px;
    text-align: center;

    @media (max-width: $breakpoint-mobile-max)
    {
      flex-direction: row;
      padding-left: 0;
    }

    & + &
    {
      margin-left: calc(var(--yxt-base-spacing) / 2);
    }
  }

  &-ctaIconWrapper
  {
    display: flex;
    padding-left: calc(var(--yxt-base-spacing) * 2);
    padding-right: calc(var(--yxt-base-spacing) * 2);
    margin-bottom: calc(var(--yxt-base-spacing) / 2);

    @media(max-width: $breakpoint-mobile-max)
    {
      padding-left: 0;
      padding-right: 0;
      margin-right: 8px;
      margin-bottom: 0;
    }
  }

  &-ctaIcon
  {
    width: 24px;
    height: 24px;
  }

  &-ctaLabel
  {
    @include Text(
      $size: var(--yxt-result-cta-font-size),
      $line-height: var(--yxt-result-cta-line-height),
      $weight: var(--yxt-result-cta-font-weight),
      $color: var(--yxt-result-cta-color)
    );

    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &-dateWrapper
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: calc(var(--yxt-base-spacing) * 2);
    margin-right: calc(var(--yxt-base-spacing) * 3);
    padding-left: var(--yxt-base-spacing);
    padding-right: var(--yxt-base-spacing);

    @media (max-width: $breakpoint-mobile-max)
    {
      display: none;
    }
  }

  &-dateInnerWrapper
  {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: calc(var(--yxt-base-spacing) / 4);
    text-align: center;
    background-color: var(--yxt-result-event-background-color);
  }

  &-day
  {
    @include Text(
      $size: var(--yxt-result-day-font-size),
      $line-height: var(--yxt-result-day-line-height),
      $weight: var(--yxt-result-day-font-weight),
      $color: var(--yxt-result-day-color)
    );
  }

  &-month
  {
    @include Text(
      $size: var(--yxt-result-month-font-size),
      $line-height: var(--yxt-result-month-line-height),
      $weight: var(--yxt-result-month-font-weight),
      $color: var(--yxt-result-month-color)
    );
  }

  &-subtitle
  {
    @include Text(
      $size: var(--yxt-result-subtitle-font-size),
      $line-height: var(--yxt-result-subtitle-line-height),
      $weight: var(--yxt-result-subtitle-font-weight),
      $color: var(--yxt-result-subtitle-color)
    );

    margin-bottom: calc(var(--yxt-base-spacing)/2);
  }

  &-features
  {
    list-style: disc;
    padding-left: 18px;
  }
}
