/** @define Nav */

$nav-text-font-size: var(--yxt-font-size-md) !default;
$nav-text-line-height: var(--yxt-line-height-md) !default;
$nav-text-font-weight: var(--yxt-font-weight-semibold) !default;
$nav-text-color: var(--yxt-color-text-primary) !default;
$nav-text-hover-color: #c5cace !default;
$nav-text-active-color: var(--yxt-color-brand-primary) !default;
$nav-text-active-border-width: 2px !default;
$nav-text-active-border: var(--yxt-nav-text-active-border-width) solid var(--yxt-color-brand-primary) !default;
$nav-text-focus-background-color: #e9e9e9 !default;

$nav-dropdown-font-size: 13px !default;
$nav-dropdown-line-height: var(--yxt-line-height-sm) !default;
$nav-dropdown-font-weight: var(--yxt-font-weight-semibold) !default;
$nav-dropdown-color: var(--yxt-nav-text-color) !default;
$nav-dropdown-hover-color: var(--yxt-nav-dropdown-color) !default;
$nav-dropdown-hover-background-color: #eeeff0 !default;
$nav-dropdown-width: 250px !default;

$nav-border-color: var(--yxt-color-borders) !default;

:root {
  --yxt-nav-text-font-size: #{$nav-text-font-size};
  --yxt-nav-text-line-height: #{$nav-text-line-height};
  --yxt-nav-text-font-weight: #{$nav-text-font-weight};
  --yxt-nav-text-color: #{$nav-text-color};
  --yxt-nav-text-hover-color: #{$nav-text-hover-color};
  --yxt-nav-text-active-color: #{$nav-text-active-color};
  --yxt-nav-text-active-border-width: #{$nav-text-active-border-width};
  --yxt-nav-text-active-border: #{$nav-text-active-border};
  --yxt-nav-text-focus-background-color: #{$nav-text-focus-background-color};
  --yxt-nav-dropdown-font-size: #{$nav-dropdown-font-size};
  --yxt-nav-dropdown-line-height: #{$nav-dropdown-line-height};
  --yxt-nav-dropdown-font-weight: #{$nav-dropdown-font-weight};
  --yxt-nav-dropdown-color: #{$nav-dropdown-color};
  --yxt-nav-dropdown-hover-color: #{$nav-dropdown-hover-color};
  --yxt-nav-dropdown-hover-background-color: #{$nav-dropdown-hover-background-color};
  --yxt-nav-dropdown-width: #{$nav-dropdown-width};
  --yxt-nav-border-color: #{$nav-border-color};
}

.yxt-Nav
{
  &-container
  {
    display: flex;
    justify-content: flex-start;
    position: relative;
    border-bottom: var(--yxt-nav-text-active-border-width) solid var(--yxt-nav-border-color);
  }

  &-expanded
  {
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &-item
  {
    $item-padding: 6px;
    margin-bottom: -2px;

    @include Text(
      $size: var(--yxt-nav-text-font-size),
      $line-height: var(--yxt-nav-text-line-height),
      $weight: var(--yxt-nav-text-font-weight),
      $color: var(--yxt-nav-text-color)
    );

    padding-top: $item-padding;
    padding-bottom: $item-padding;
    padding-left: var(--yxt-base-spacing);
    padding-right: var(--yxt-base-spacing);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover
    {
      color: var(--yxt-nav-text-active-color);

      @media (hover: none)
      {
        color: var(--yxt-nav-text-color);
      }
    }

    &:focus
    {
      background-color: var(--yxt-nav-text-focus-background-color);
      color: var(--yxt-nav-text-color);
    }

    &:not(:last-child)
    {
      flex-shrink: 0;
    }

    &--more
    {
      position: absolute;
      visibility: hidden;
    }

    &.is-active
    {
      color: var(--yxt-nav-text-active-color);
      border-bottom: var(--yxt-nav-text-active-border);
      font-weight: var(--yxt-font-weight-semibold);
      padding-bottom: calc(#{$item-padding} + var(--yxt-nav-text-active-border-width));
    }
  }

  &-moreContainer
  {
    margin-left: auto;
    position: relative;
  }

  &-more
  {
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
    border: none;
    background: transparent;
  }

  &-moreTextWrapper
  {
    display: flex;
    align-items: center;
  }

  &-moreIcon
  {
    display: flex;
    margin-top: 1px;
    margin-right: 7px;

    .Icon--kabob
    {
      height: 11px;
      width: 3px;
      margin-top: 1px;
    }
  }

  &-static
  {
    overflow: auto;
  }

  &-static::-webkit-scrollbar {
    display: none;
  }

  &-modal
  {
    display: none;
    padding-top: 6px;
    padding-bottom: 6px;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    top: 30px;
    right: 0;
    z-index: var(--yxt-z-index-nav-more-modal);
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: var(--yxt-nav-dropdown-width);
    word-break: break-all;
    white-space: normal;

    &.is-active
    {
      display: block;
    }
  }

  &-dropDownItem
  {
    @include Text(
      $size: var(--yxt-nav-dropdown-font-size),
      $line-height: var(--yxt-nav-dropdown-line-height),
      $weight: var(--yxt-nav-dropdown-font-weight),
      $color: var(--yxt-nav-dropdown-color)
    );

    display: block;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;

    &:hover,
    &:focus
    {
      color: var(--yxt-nav-dropdown-hover-color);
      background-color: var(--yxt-nav-dropdown-hover-background-color);
    }
  }
}
