/** @define NoResults */

$noresults-font-size: var(--yxt-font-size-md) !default;
$noresults-line-height: var(--yxt-line-height-md) !default;
$noresults-font-weight: var(--yxt-font-weight-normal) !default;
$noresults-query-font-weight: var(--yxt-font-weight-semibold) !default;

:root {
  --yxt-noresults-font-size: #{$noresults-font-size};
  --yxt-noresults-line-height: #{$noresults-line-height};
  --yxt-noresults-font-weight: #{$noresults-font-weight};
  --yxt-noresults-query-font-weight: #{$noresults-query-font-weight};
}

.yxt-NoResults
{
  &-wrapper
  {
    font-size: var(--yxt-noresults-font-size);
    line-height: var(--yxt-noresults-line-height);
    font-weight: var(--yxt-noresults-font-weight);
  }

  &-query
  {
    font-weight: var(--yxt-noresults-query-font-weight);
  }

  &-returnLinkWrapper
  {
    margin-top: var(--yxt-base-spacing);
  }

  &-returnLink
  {
    @include Link-2;
  }

  &-suggestions
  {
    margin-top: var(--yxt-base-spacing);
  }

  &-suggestionsHeader
  {
    font-style: italic;
  }

  &-suggestionsList
  {
    margin-top: calc(var(--yxt-base-spacing) / 2);
  }

  &-suggestion
  {
    margin-left: calc(var(--yxt-base-spacing-sm) * 2);
    list-style-type: disc;
    list-style-position: inside;
  }
}
