/** @define Pagination */

$pagination-text-color: var(--yxt-color-text-primary) !default;
$pagination-text-color-hover: var(--yxt-color-text-secondary) !default;
$pagination-text-font-size: var(--yxt-font-size-md-lg) !default;
$pagination-text-line-height: var(--yxt-line-height-lg) !default;
$pagination-text-font-weight: var(--yxt-font-weight-normal) !default;

:root {
  --yxt-pagination-text-color: #{$pagination-text-color};
  --yxt-pagination-text-color-hover: #{$pagination-text-color-hover};
  --yxt-pagination-text-font-size: #{$pagination-text-font-size};
  --yxt-pagination-text-line-height: #{$pagination-text-line-height};
  --yxt-pagination-text-font-weight: #{$pagination-text-font-weight};
}

.yxt-Pagination
{
  display: flex;
  justify-content: center;
  align-items: center;

  @include Text(
    $size: var(--yxt-pagination-text-font-size),
    $line-height: var(--yxt-pagination-text-line-height),
    $weight: var(--yxt-pagination-text-font-weight),
    $color: var(--yxt-pagination-text-color)
  );

  &-button
  {
    display: flex;
    background: none;
    border: none;
    padding: 0 4px;

    &:not(:disabled)
    {
      cursor: pointer;

      &:hover
      {
        color: var(--yxt-pagination-text-color-hover);
      }
    }
  }

  &-button:disabled {
    visibility: hidden;
  }

  &-page
  {
    padding: 0;
    margin: 0 20px;
  }

  &-chevron--left svg, &-doubleChevron--left svg
  {
    transform: rotate(180deg);
  }

  &-doubleChevron, &-doubleChevron--left
  {
    margin-right: -4px;
  }

  &-chevron,
  &-doubleChevron,
  &-chevron--left,
  &-doubleChevron--left
  {
    display: flex;
  }
}
