/** @define Pagination */
.yxt-Pagination
{
  $pagination-text-color: $color-text-neutral !default;
  $pagination-text-color-hover: $color-brand-white !default;
  $pagination-text-font-size: $font-size-md-lg !default;
  $pagination-text-line-height: $line-height-md !default;
  $pagination-text-font-weight: $font-weight-normal !default;
  $pagination-color-active-page: $color-borders !default;
  $pagination-color-hover: $color-text-secondary !default;

  display: flex;
  justify-content: center;
  align-items: center;

  @include Text(
    $size: $pagination-text-font-size,
    $line-height: $pagination-text-line-height,
    $weight: $pagination-text-font-weight,
    $color: $pagination-text-color
  );

  &--hidden {
    visibility: hidden;
  }

  &-page, &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    min-width: 1.5rem;
    margin-right: .125rem;
    margin-left: .125rem;
    border-radius: .125rem;
    padding: 0 .25rem;
    box-sizing: border-box;
  }

  &-icon {
    font-size: $font-size-sm;
    span {
      display: flex;
    }
  }

  #active-page {
    background-color: $pagination-color-active-page;
  }

  &-link:hover, &-link:focus {
    cursor: pointer;
    color: $pagination-text-color-hover;
    background-color: $pagination-color-hover;
  }

  &-chevron--left svg, &-doubleChevron--left svg
  {
    transform: rotate(180deg);
  }

  &-doubleChevron, &-doubleChevron--left
  {
    margin-right: -4px;
  }
}

@media (max-width: $breakpoint-mobile-max) {
  .mobile-hidden {
    display: none;
  }
}

@media (min-width: $breakpoint-mobile-max) {
  .desktop-hidden {
    display: none;
  }
}