/** @define Pagination */

$pagination-text-color: var(--yxt-color-text-neutral) !default;
$pagination-text-color-hover: var(--yxt-color-brand-white) !default;
$pagination-text-font-size: var(--yxt-font-size-md-lg) !default;
$pagination-text-line-height: var(--yxt-line-height-md) !default;
$pagination-text-font-weight: var(--yxt-font-weight-normal) !default;
$pagination-color-active-page: var(--yxt-color-borders) !default;
$pagination-color-hover: var(--yxt-color-text-secondary) !default;

:root {
  --yxt-pagination-text-color: #{$pagination-text-color};
  --yxt-pagination-text-color-hover: #{$pagination-text-color-hover};
  --yxt-pagination-text-font-size: #{$pagination-text-font-size};
  --yxt-pagination-text-line-height: #{$pagination-text-line-height};
  --yxt-pagination-text-font-weight: #{$pagination-text-font-weight};
  --yxt-pagination-color-active-page: #{$pagination-color-active-page};
  --yxt-pagination-color-hover: #{$pagination-color-hover};
}

.yxt-Pagination
{
  display: flex;
  justify-content: center;
  align-items: center;

  @include Text(
    $size: var(--yxt-pagination-text-font-size),
    $line-height: var(--yxt-pagination-text-line-height),
    $weight: var(--yxt-pagination-text-font-weight),
    $color: var(--yxt-pagination-text-color)
  );

  &--hidden {
    visibility: hidden;
  }

  &-page, &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    min-width: 1.5rem;
    margin-right: .125rem;
    margin-left: .125rem;
    border-radius: .125rem;
    padding: 0 .25rem;
    box-sizing: border-box;
  }

  &-icon {
    font-size: var(--yxt-font-size-sm);
    span {
      display: flex;
    }
  }

  &--activeMobile{
    @media (max-width: $breakpoint-mobile-max) {
      background-color: var(--yxt-pagination-color-active-page);
    }
  }

  &--activeDesktop {
    @media (min-width: $breakpoint-mobile-min) {
      background-color: var(--yxt-pagination-color-active-page);
    }
  }

  &-link:hover, &-link:focus {
    cursor: pointer;
    color: var(--yxt-pagination-text-color-hover);
    background-color: var(--yxt-pagination-color-hover);
  }

  &-chevron--left svg, &-doubleChevron--left svg
  {
    transform: rotate(180deg);
  }

  &-doubleChevron, &-doubleChevron--left
  {
    margin-right: -4px;
  }

  &-chevron,
  &-doubleChevron,
  &-chevron--left,
  &-doubleChevron--left
  {
    display: flex;
  }

  @media (max-width: $breakpoint-mobile-max) {
    .mobile-hidden {
      display: none;
    }
  }
  
  @media (min-width: $breakpoint-mobile-max) {
    .desktop-hidden {
      display: none;
    }
  }
}
