/** @define ResultsHeader */
.yxt-ResultsHeader {
  $results-header-font-size: $font-size-md !default;
  $results-header-spacing: $base-spacing !default;

  $results-header-color: $color-text-secondary !default;
  $results-header-font-weight: $font-weight-normal !default;
  $results-header-line-height: $line-height-md !default;
  $results-header-margin-bottom: $base-spacing / 4 !default;

  $results-header-count-color: $color-text-secondary !default;
  $results-header-count-weight: $font-weight-bold !default;

  $results-header-filters-font-size: $font-size-md !default;
  $results-header-filters-color: $color-text-secondary !default;
  $results-header-filters-line-height: $line-height-md !default;

  display: flex;
  align-items: baseline;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &-resultsCount
  {
    margin-right: $results-header-spacing / 4;
    white-space: nowrap;
    @include Text(
      $size: $results-header-font-size,
      $line-height: $results-header-line-height,
      $weight: $results-header-count-weight,
      $color: $results-header-count-color
    );
  }

  &-resultsCountSeparator
  {
    color: $results-header-filters-color;
    margin-right: $results-header-spacing * 3 / 8;
    @include Text(
      $size: $results-header-filters-font-size,
      $line-height: $results-header-filters-line-height,
      $color: $results-header-filters-color,
    );
  }

  &-changeFilters 
  {
    margin-left: $base-spacing * 0.5;
    padding-right: $base-spacing;
    @include Link(
      $base-color: $color-brand-primary
    );
    @include Text(
      $line-height: 20px
    );
  }
}

.yxt-ResultsHeader--universal
{
  padding-top: $base-spacing / 2;
  padding-bottom: 0;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
  margin-bottom: 0;
  border: $border-default;
  border-top: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .yxt-ResultsHeader-resultsCount,
  .yxt-ResultsHeader-resultsCountSeparator
  {
    margin-bottom: $base-spacing * 3/8;
  }
}
