.yxt-Result
{
  &-title
  {
    margin-bottom: 8px;
  }

  &-titleLink
  {
    display: inline-flex;
    align-items: center;

    @media (max-width: 768px)
    {
      display: inline;
    }
  }

  &-ordinalWrapper
  {
    margin-right: 16px;
  }

  &-ordinal
  {
    height: 18px;
    width: 18px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
  }

  &-wrapper
  {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;

    @media (max-width: 768px)
    {
      flex-wrap: wrap;
    }
  }

  &-imageWrapper
  {
    width: 100px;
    min-width: 100px;
    margin-right: 1rem;
  }

  &-ctasWrapper
  {
    display: flex;
    align-items: center;
    flex-grow: 1;

    @media (min-width: 768px)
    {
      justify-content: flex-end;
    }
  }

  &-ctas
  {
    display: flex;
  }

  &-cta
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    min-width: 60px;
    text-align: center;

    & + &
    {
      margin-left: 16px;
    }
  }

  &-ctaIconWrapper
  {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  &-ctaIcon
  {
    width: 1.7em;
    height: 1.7em;
  }

  &-ctaLabel
  {
    text-transform: uppercase;
  }

  &-hours,
  &-address
  {
    margin-bottom: 4px;
  }

  &-dateWrapper
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 48px;
    min-width: 80px;
  }

  &-dateInnerWrapper
  {
    border-radius: 8px;
    padding: 4px;
    text-align: center;
  }

  &-features
  {
    list-style: disc;
    padding-left: 18px;
  }
}
