/** @define ResultsHeader */

$results-header-font-size: var(--yxt-font-size-md) !default;
$results-header-spacing: var(--yxt-base-spacing) !default;

$results-header-color: var(--yxt-color-text-secondary) !default;
$results-header-font-weight: var(--yxt-font-weight-normal) !default;
$results-header-line-height: var(--yxt-line-height-md) !default;
$results-header-margin-bottom: calc(var(--yxt-base-spacing) / 4) !default;

$results-header-count-color: var(--yxt-color-text-secondary) !default;
$results-header-count-weight: var(--yxt-font-weight-bold) !default;

$results-header-filters-font-size: var(--yxt-font-size-md) !default;
$results-header-filters-color: var(--yxt-color-text-secondary) !default;
$results-header-filters-line-height: var(--yxt-line-height-md) !default;

:root {
  --yxt-results-header-font-size: #{$results-header-font-size};
  --yxt-results-header-spacing: #{$results-header-spacing};
  --yxt-results-header-color: #{$results-header-color};
  --yxt-results-header-font-weight: #{$results-header-font-weight};
  --yxt-results-header-line-height: #{$results-header-line-height};
  --yxt-results-header-margin-bottom: #{$results-header-margin-bottom};
  --yxt-results-header-count-color: #{$results-header-count-color};
  --yxt-results-header-count-weight: #{$results-header-count-weight};
  --yxt-results-header-filters-font-size: #{$results-header-filters-font-size};
  --yxt-results-header-filters-color: #{$results-header-filters-color};
  --yxt-results-header-filters-line-height: #{$results-header-filters-line-height};
}

.yxt-ResultsHeader {
  padding: calc(var(--yxt-results-header-spacing) / 2) var(--yxt-results-header-spacing);
  display: flex;
  align-items: baseline;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &-resultsCount
  {
    margin-right: calc(var(--yxt-results-header-spacing) / 4);
    white-space: nowrap;
    @include Text(
      $size: var(--yxt-results-header-font-size),
      $line-height: var(--yxt-results-header-line-height),
      $weight: var(--yxt-results-header-count-weight),
      $color: var(--yxt-results-header-count-color)
    );
  }

  &-appliedFilters
  {
    padding-top: calc(var(--yxt-results-header-spacing) / 2);
    padding-bottom: calc(var(--yxt-results-header-spacing) / 2);
    padding-right: var(--yxt-results-header-spacing);
    border-top: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-filterLabel
  {
    display: flex;
    margin-right: calc(var(--yxt-results-header-spacing) * 3 / 8);
    @include Text(
      $size: var(--yxt-results-header-filters-font-size),
      $line-height: var(--yxt-results-header-filters-line-height),
      $color: var(--yxt-results-header-filters-color),
    )
  }

  &-filterValue
  {
    margin-right: calc(var(--yxt-results-header-spacing) * 3 / 8);
    @include Text(
      $size: var(--yxt-results-header-filters-font-size),
      $line-height: var(--yxt-results-header-filters-line-height),
      $color: var(--yxt-results-header-filters-color),
    );
  }
  &-resultsCountSeparator
  {
    color: var(--yxt-results-header-filters-color);
    margin-right: calc(var(--yxt-results-header-spacing) * 3 / 8);
    @include Text(
      $size: var(--yxt-results-header-filters-font-size),
      $line-height: var(--yxt-results-header-filters-line-height),
      $color: var(--yxt-results-header-filters-color),
    );
  }

  &-filterSeparator
  {
    color: var(--yxt-results-header-filters-color);
    margin-right: calc(var(--yxt-results-header-spacing) * 3 / 8);
    @include Text(
      $size: var(--yxt-results-header-filters-font-size),
      $line-height: var(--yxt-results-header-filters-line-height),
      $color: var(--yxt-results-header-filters-color),
    );
  }

  &-changeFilters 
  {
    margin-left: calc(var(--yxt-base-spacing) / 2);
    padding-right: var(--yxt-base-spacing);
    @include Link(
      $base-color: var(--yxt-color-brand-primary)
    );
    @include Text(
      $line-height: 20px
    );
  }
}

.yxt-ResultsHeader--universal
{
  padding: calc(var(--yxt-base-spacing) / 16) var(--yxt-base-spacing);
  margin-bottom: 0;
  border: var(--yxt-border-default);
  border-top: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
