/** @define Results */

$results-title-bar-background: var(--color-background-highlight) !default;
$results-filters-background: white !default;

$results-title-bar-text-color: var(--color-text-primary) !default;
$results-title-bar-text-font-size: var(--font-size-md-lg) !default;
$results-title-bar-text-line-height: var(--line-height-lg) !default;
$results-title-bar-text-font-weight: var(--font-weight-bold) !default;

$results-title-bar-link-font-size: var(--font-size-md) !default;
$results-title-bar-link-line-height: var(--line-height-xxlg) !default;
$results-title-bar-link-font-weight: var(--font-weight-semibold) !default;

$results-filters-text-color: var(--color-text-primary) !default;
$results-filters-text-font-size: var(--font-size-md) !default;
$results-filters-text-line-height: var(--line-height-md) !default;
$results-filters-text-font-weight: var(--font-weight-normal) !default;

$results-filters-link-font-size: var(--font-size-md) !default;
$results-filters-link-line-height: var(--line-height-md) !default;
$results-filters-link-font-weight: var(--font-weight-normal) !default;

$results-border: var(--border-default) !default;

$results-cards-margin: calc(var(--base-spacing) / 2) !default;

:root {
  --results-title-bar-background: #{$results-title-bar-background};
  --results-filters-background: #{$results-filters-background};
  --results-title-bar-text-color: #{$results-title-bar-text-color};
  --results-title-bar-text-font-size: #{$results-title-bar-text-font-size};
  --results-title-bar-text-line-height: #{$results-title-bar-text-line-height};
  --results-title-bar-text-font-weight: #{$results-title-bar-text-font-weight};
  --results-title-bar-link-font-size: #{$results-title-bar-link-font-size};
  --results-title-bar-link-line-height: #{$results-title-bar-link-line-height};
  --results-title-bar-link-font-weight: #{$results-title-bar-link-font-weight};
  --results-filters-text-color: #{$results-filters-text-color};
  --results-filters-text-font-size: #{$results-filters-text-font-size};
  --results-filters-text-line-height: #{$results-filters-text-line-height};
  --results-filters-text-font-weight: #{$results-filters-text-font-weight};
  --results-filters-link-font-size: #{$results-filters-link-font-size};
  --results-filters-link-line-height: #{$results-filters-link-line-height};
  --results-filters-link-font-weight: #{$results-filters-link-font-weight};
  --results-border: #{$results-border};
  --results-cards-margin: #{$results-cards-margin};
}

.yxt-Results
{
  border-bottom: 0;
  width: 100%;

  & + &
  {
    margin-top: var(--base-spacing);
  }

  &-titleBar
  {
    display: flex;
    justify-content: space-between;
    padding-left: var(--base-spacing);
    padding-right: var(--base-spacing);
    padding-top: calc(var(--base-spacing) / 2);
    padding-bottom: calc(var(--base-spacing) / 2);
    background-color: var(--results-title-bar-background);
    border: var(--yxt-border-legacy);
    border-bottom: none;
  }

  &-left
  {
    display: flex;
    align-items: center;
  }

  &-titleIconWrapper
  {
    display: flex;
    margin-right: var(--base-spacing) / 2;
  }

  &-title
  {
    @include Text(
      var(--results-title-bar-text-font-size),
      var(--results-title-bar-text-line-height),
      var(--results-title-bar-text-font-weight),
      $color: var(--results-title-bar-text-color)
    );

    text-transform: uppercase;
  }

  &-viewAllLink
  {
    display: flex;
    align-items: center;

    @include Text(
      var(--results-title-bar-link-font-size),
      var(--results-title-bar-link-line-height),
      var(--results-title-bar-link-font-weight),
    );
    @include Link-1;
  }

  &-filters
  {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: calc(var(--base-spacing) / 2) var(--base-spacing);
    background-color: var(--results-filters-background);
    border-top: var(--results-border);
    border-right: var(--border-legacy);
    border-left: var(--border-legacy);
    border-bottom: none;
  }

  &-filter
  {
    display: flex;
    align-items: center;

    &:not(:first-child)::before
    {
      content: '';
      width: 1px;
      top: 0;
      height: 40%;
      margin-left: var(--base-spacing);
      margin-right: var(--base-spacing);
      display: inline-block;
    }
  }

  &-filterValue
  {
    @include Text(
      var(--results-filters-text-font-size),
      var(--results-filters-text-line-height),
      var(--results-filters-text-font-weight),
      $color: var(--results-filters-text-color)
    );
  }

  &-changeFilters
  {
    @include Text(
      var(--results-filters-link-font-size),
      var(--results-filters-link-line-height),
      var(--results-filters-link-font-weight),
      $color: var(--color-brand-primary)
    );
    @include Link-2;

    margin-left: calc(var(--base-spacing) / 2);
  }

  &-map
  {
    height: 300px;
    border-bottom: var(--results-border);
  }

  &-items {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
  }

  &.yxt-Accordion
  {
    border: var(--border-legacy);

    .yxt-Results-filters {
      border-left: none;
      border-right: none;
    }
  }

  & .yxt-Accordion-list
  {
    border-top: var(--border-legacy);
    border-left: var(--border-legacy);
    border-right: var(--border-legacy);
  }
}
