/** @define Results */

$results-title-bar-background: var(--yxt-color-background-highlight) !default;
$results-filters-background: white !default;
$results-view-more-background: var(--yxt-color-background-highlight) !default;

$results-title-bar-text-color: var(--yxt-color-text-primary) !default;
$results-title-bar-text-font-size: var(--yxt-font-size-md-lg) !default;
$results-title-bar-text-line-height: var(--yxt-line-height-lg) !default;
$results-title-bar-text-font-weight: var(--yxt-font-weight-bold) !default;

$results-title-bar-link-font-size: var(--yxt-font-size-md) !default;
$results-title-bar-link-line-height: var(--yxt-line-height-xxlg) !default;
$results-title-bar-link-font-weight: var(--yxt-font-weight-semibold) !default;

$results-filters-text-color: var(--yxt-color-text-primary) !default;
$results-filters-text-font-size: var(--yxt-font-size-md) !default;
$results-filters-text-line-height: var(--yxt-line-height-md) !default;
$results-filters-text-font-weight: var(--yxt-font-weight-normal) !default;

$results-filters-link-font-size: var(--yxt-font-size-md) !default;
$results-filters-link-line-height: var(--yxt-line-height-md) !default;
$results-filters-link-font-weight: var(--yxt-font-weight-normal) !default;

$results-border: var(--yxt-border-default) !default;

$results-cards-margin: calc(var(--yxt-base-spacing) / 2) !default;

:root {
  --yxt-results-title-bar-background: #{$results-title-bar-background};
  --yxt-results-filters-background: #{$results-filters-background};
  --yxt-results-view-more-background: #{$results-view-more-background};
  --yxt-results-title-bar-text-color: #{$results-title-bar-text-color};
  --yxt-results-title-bar-text-font-size: #{$results-title-bar-text-font-size};
  --yxt-results-title-bar-text-line-height: #{$results-title-bar-text-line-height};
  --yxt-results-title-bar-text-font-weight: #{$results-title-bar-text-font-weight};
  --yxt-results-title-bar-link-font-size: #{$results-title-bar-link-font-size};
  --yxt-results-title-bar-link-line-height: #{$results-title-bar-link-line-height};
  --yxt-results-title-bar-link-font-weight: #{$results-title-bar-link-font-weight};
  --yxt-results-filters-text-color: #{$results-filters-text-color};
  --yxt-results-filters-text-font-size: #{$results-filters-text-font-size};
  --yxt-results-filters-text-line-height: #{$results-filters-text-line-height};
  --yxt-results-filters-text-font-weight: #{$results-filters-text-font-weight};
  --yxt-results-filters-link-font-size: #{$results-filters-link-font-size};
  --yxt-results-filters-link-line-height: #{$results-filters-link-line-height};
  --yxt-results-filters-link-font-weight: #{$results-filters-link-font-weight};
  --yxt-results-border: #{$results-border};
  --yxt-results-cards-margin: #{$results-cards-margin};
}

.yxt-Results
{
  border-bottom: 0;
  width: 100%;

  & + &
  {
    margin-top: var(--yxt-base-spacing);
  }

  &-left
  {
    display: flex;
    align-items: center;
  }

  &-titleIconWrapper
  {
    display: flex;
    margin-right: calc(var(--yxt-base-spacing) / 2);
    color: var(--yxt-color-brand-primary);
  }

  &-filters
  {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: calc(var(--yxt-base-spacing) / 2) var(--yxt-base-spacing);
    background-color: var(--yxt-results-filters-background);
    border-top: var(--yxt-results-border);
    border-right: var(--yxt-border-default);
    border-left: var(--yxt-border-default);
    border-bottom: none;
  }

  &-filter
  {
    display: flex;
    align-items: center;

    &:not(:first-child)::before
    {
      content: '';
      width: 1px;
      top: 0;
      height: 40%;
      margin-left: var(--yxt-base-spacing);
      margin-right: var(--yxt-base-spacing);
      display: inline-block;
    }
  }

  &-filterValue
  {
    @include Text(
      var(--yxt-results-filters-text-font-size),
      var(--yxt-results-filters-text-line-height),
      var(--yxt-results-filters-text-font-weight),
      $color: var(--yxt-results-filters-text-color)
    );
  }

  &-changeFilters
  {
    @include Text(
      var(--yxt-results-filters-link-font-size),
      var(--yxt-results-filters-link-line-height),
      var(--yxt-results-filters-link-font-weight),
      $color: var(--yxt-color-brand-primary)
    );
    @include Link-2;

    margin-left: calc(var(--yxt-base-spacing) / 2);
  }

  &-map
  {
    height: 300px;
    border-bottom: var(--yxt-results-border);
    border-left: var(--yxt-results-border);
    border-right: var(--yxt-results-border);
  }

  &-items {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
  }

  &-viewAll
  {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: calc(var(--yxt-base-spacing) / 2) var(--yxt-base-spacing);
    background-color: var(--yxt-results-view-more-background);
    border-right: var(--yxt-results-border);
    border-left: var(--yxt-results-border);
    border-bottom: var(--yxt-results-border);
    text-decoration: none;
    align-items: center;

    &:hover .yxt-Results-viewAllLabel,
    &:focus .yxt-Results-viewAllLabel
    {
      text-decoration: underline;
    }
  }

  &-viewAll svg
  {
    height: calc(var(--yxt-base-spacing) / 2);
    width: calc(var(--yxt-base-spacing) / 2);
    color: var(--yxt-color-brand-primary);
  }

  &-viewAllLink
  {
    display: flex;
    align-items: center;

    @include Text(
      var(--yxt-results-title-bar-link-font-size),
      var(--yxt-results-title-bar-link-line-height),
      var(--yxt-results-title-bar-link-font-weight),
    );
    @include Link-1;
  }

  &-viewAllLabel
  {
    margin-right: calc(var(--yxt-base-spacing) / 2);
    @include Text(
      $color: var(--yxt-color-brand-primary),
      $weight: var(--yxt-font-weight-semibold),
      $line-height: $line-height-lg,
      $size: $font-size-md,
    );
  }

  &-titleBar
  {
    border: var(--yxt-results-border);
    display: flex;
    padding: calc(var(--yxt-base-spacing) / 2) var(--yxt-base-spacing);
    align-items: center;
    background-color:  var(--yxt-results-title-bar-background);
  }

  &-title
  {
    margin: 0;
    text-transform: uppercase;
    @include Text(
      var(--yxt-results-title-bar-text-font-size),
      var(--yxt-results-title-bar-text-line-height),
      var(--yxt-font-weight-semibold),
      $color: var(--yxt-results-title-bar-text-color)
    );
  }
}

.yxt-Results--universal
{
  margin-top: var(--yxt-base-spacing);

  .yxt-Results 
  {
    &-items 
    {
      margin-right: 0;
    }
  }

  &.yxt-Accordion
  {
    border: var(--yxt-border-legacy);

    .yxt-Results-filters {
      border-left: var(--yxt-border-legacy);
      border-right: var(--yxt-border-legacy);
    }
  }

  & .yxt-Accordion-list
  {
    border-top: var(--yxt-border-legacy);
    border-left: var(--yxt-border-legacy);
    border-right: var(--yxt-border-legacy);
  }
}

// Legacy AccordionResults specific styling
.yxt-Accordion .yxt-Results
{
  &-titleBar
  {
    display: flex;
    justify-content: space-between;
    padding-left: var(--yxt-base-spacing);
    padding-right: var(--yxt-base-spacing);
    padding-top: calc(var(--yxt-base-spacing) / 2);
    padding-bottom: calc(var(--yxt-base-spacing) / 2);
    background-color: var(--yxt-results-title-bar-background);
    border: var(--yxt-border-legacy);
    border-bottom: none;
  }

  &-title
  {
    @include Text(
      var(--yxt-results-title-bar-text-font-size),
      var(--yxt-results-title-bar-text-line-height),
      var(--yxt-results-title-bar-text-font-weight),
      $color: var(--yxt-results-title-bar-text-color)
    );

    text-transform: uppercase;
  }

  &-titleIconWrapper
  {
    color: inherit;
  }
}
