/** @define SearchBar */

$searchbar-form-background-color: white !default;
$searchbar-form-outline-color-base: var(--yxt-color-borders) !default;
$searchbar-focus-shadow-height: 10px !default;
$searchbar-focus-shadow: 0 0 var(--yxt-searchbar-focus-shadow-height) 0 rgba(0, 0, 0, 0.1) !default;
$searchbar-form-border-radius: calc(0.4*var(--yxt-base-spacing)) !default;

$searchbar-text-color: var(--yxt-color-text-primary) !default;
$searchbar-text-font-size: var(--yxt-font-size-md-lg) !default;
$searchbar-text-line-height: var(--yxt-line-height-lg) !default;
$searchbar-text-font-weight: var(--yxt-font-weight-normal) !default;

$searchbar-button-background-color-base: white !default;
$searchbar-button-background-color-hover: #E9E9E9 !default;
$searchbar-button-background-color-active: var(--yxt-searchbar-button-background-color-base) !default;

$searchbar-button-text-color-base: var(--yxt-color-text-primary) !default;
$searchbar-button-text-color-active: var(--yxt-searchbar-button-text-color-base) !default;

:root {
  --yxt-searchbar-form-background-color: #{$searchbar-form-background-color};
  --yxt-searchbar-form-outline-color-base: #{$searchbar-form-outline-color-base};
  --yxt-searchbar-focus-shadow-height: #{$searchbar-focus-shadow-height};
  --yxt-searchbar-focus-shadow: #{$searchbar-focus-shadow};
  --yxt-searchbar-form-border-radius: #{$searchbar-form-border-radius};
  --yxt-searchbar-text-color: #{$searchbar-text-color};
  --yxt-searchbar-text-font-size: #{$searchbar-text-font-size};
  --yxt-searchbar-text-line-height: #{$searchbar-text-line-height};
  --yxt-searchbar-text-font-weight: #{$searchbar-text-font-weight};
  --yxt-searchbar-button-background-color-base: #{$searchbar-button-background-color-base};
  --yxt-searchbar-button-background-color-hover: #{$searchbar-button-background-color-hover};
  --yxt-searchbar-button-background-color-active: #{$searchbar-button-background-color-active};
  --yxt-searchbar-button-text-color-base: #{$searchbar-button-text-color-base};
  --yxt-searchbar-button-text-color-active: #{$searchbar-button-text-color-active};
}

.yxt-SearchBar, .yxt-GeoLocationFilter
{
  width: 100%;
  height: 51px;
  margin-bottom: 0;

  // Targeted CSS reset that prevents select user agent styles from interfering
  // with styling of SearchBar's buttons and input. Note that this resets CSS styling only for
  // elements with 'yxt' in the class name. It will not impact any customer styling.
  button[class*="yxt-"], input[class*="yxt-"]
  {
    appearance: none;
  }

  &-container
  {
    position: relative;
    overflow: hidden;
    z-index: 1;

    border-radius: var(--yxt-searchbar-form-border-radius);
    border: 1px solid var(--yxt-searchbar-form-outline-color-base);

    background-color: var(--yxt-searchbar-form-background-color);

    &:hover,
    &:focus-within
    {
      box-shadow: var(--yxt-searchbar-focus-shadow);
    }
  }

  &-form,
  &-input-wrapper
  {
    display: flex;
    margin: 0;
  }

  &-input
  {
    @include Text(
      $size: var(--yxt-searchbar-text-font-size),
      $line-height: var(--yxt-searchbar-text-line-height),
      $weight: var(--yxt-searchbar-text-font-weight),
      $color: var(--yxt-searchbar-text-color)
    );

    border: none;

    background-color: transparent;
    width: 100%;
    padding-top: calc(var(--yxt-base-spacing) / 2);
    padding-bottom: calc(var(--yxt-base-spacing) / 2);
    padding-left: var(--yxt-base-spacing);
    padding-right: var(--yxt-base-spacing);

    &::-ms-clear
    {
      display: none;
      padding: 0;
      margin: 0;
    }

    &:-ms-input-placeholder
    {
      color: var(--yxt-color-text-secondary);
    }
  }

  &-clear
  {
    padding-left: calc(var(--yxt-base-spacing) * 3/4);
    padding-right: calc(var(--yxt-base-spacing) * 3/4);
  }

  &-button
  {
    padding-left: calc(var(--yxt-base-spacing) * 3/4);
    padding-right: var(--yxt-base-spacing);
  }

  &-button,
  &-clear
  {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    font: inherit;
    padding-top: calc(var(--yxt-base-spacing) / 2);
    padding-bottom: calc(var(--yxt-base-spacing) / 2);
    background-color: var(--yxt-searchbar-button-background-color-base);
    color: var(--yxt-color-text-secondary);
    cursor: pointer;

    border: none;

    &:focus
    {
      background-color: var(--yxt-searchbar-button-background-color-hover);
    }
  }

  &--hidden
  {
    display: none;
  }

  &-input,
  &-button
  {
    &:focus
    {
      outline: none;
    }
  }

  &-label
  {
    @include sr-only ();
  }
}

.yxt-SearchBar
{
  &-title
  {
    @include Text(
      $size: var(--yxt-font-size-xlg),
      $line-height: var(--yxt-line-height-md),
      $weight: var(--yxt-font-weight-semibold),
      $color: var(--yxt-color-text-primary),
    );

    margin-bottom: var(--yxt-base-spacing);
    @media (max-width: $breakpoint-mobile-max) {
      margin-left: var(--yxt-base-spacing);
    }
  }

  &-AnimatedIcon
  {
    display: flex;
  }

  &-Icon--inactive
  {
    display: none;
    
    &.yxt-SearchBar-LoadingIndicator {
      display: block;
      visibility: hidden;
      width: 0;
      position: absolute;
    }
  }

  &-LoadingIndicator
  {
    animation: rotate 1.4s linear infinite;
  }

  @keyframes static {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate
  {
    100% {
      transform: rotate(360deg);
    }
  }

  &-LoadingIndicator-AnimatedIcon
  {
    stroke-dasharray: 208;
    /* IE11 specific styling */
    _:-ms-fullscreen, :root & {
      /**
       * IE11 does not support stroke-* properties in animation, so use smaller stroke
       * length to simulate a fixed gap instead of using stroke-dashoffset in animation.
       */
      stroke-dasharray: 150;
    }
    transform-origin: 50% 50%;
    animation: dash 1.4s ease-in-out infinite;
  }

  &-Icon--inactive &-LoadingIndicator-AnimatedIcon
  {
    animation: none;
  }
  
  @keyframes dash
  {
    0% {
      stroke-dashoffset: 204;
      transform: rotate(0deg);
    }
    50% {
      stroke-dashoffset: 52;
      transform: rotate(45deg);
    }
    100% {
      stroke-dashoffset: 204;
      transform: rotate(360deg);
    }
  }

  &-voiceSearch
  {
    background-color: var(--yxt-searchbar-button-background-color-base);
    border: none;
    cursor: pointer;
    padding-top: calc(var(--yxt-base-spacing)/2);
    padding-bottom: calc(var(--yxt-base-spacing)/2);

    // Hide voice search on mobile
    @media (max-width: $breakpoint-mobile-max) {
      display: none;
    }

    &:hover {
      .yxt-SearchBar-mic {
        opacity: 1;
      }
    }

    &:focus {
      background-color: var(--yxt-searchbar-button-background-color-hover);
    }

    // The SVGs are placed on top of each other
    .yxt-SearchBar-micIconWrapper {
      position: absolute;
    }
    .yxt-SearchBar-listeningIconWrapper {
      position: relative;
    }
  }

  &-buttonImage .Icon svg, .Icon-image
  {
    display: block;
    width: 2em;
    height: 2em;
  }

  &-instructions {
    display: none;
  }

  &-customLoadingImage {
    display: block;
  }
}

// If custom icons are supplied, the SVGs simply alternate opacity
.yxt-SearchBar-CustomMicIcon {
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.yxt-SearchBar-CustomListeningIcon {
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.yxt-SearchBar-CustomMicIcon--active {
  .yxt-SearchBar-CustomMicIcon {
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  }
}

.yxt-SearchBar-CustomListeningIcon--active {
  .yxt-SearchBar-CustomListeningIcon {
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  }
}

.yxt-GeoLocationFilter
{
  &-title
  {
    @include sr-only ();
  }
}
