/** @define SearchBar */

$searchbar-form-background-color: white !default;
$searchbar-form-outline-color-base: var(--color-borders) !default;
$searchbar-focus-shadow-height: 10px !default;
$searchbar-focus-shadow: 0 0 var(--searchbar-focus-shadow-height) 0 rgba(0, 0, 0, 0.1) !default;
$searchbar-form-border-radius: calc(0.4*var(--base-spacing)) !default;

$searchbar-text-color: var(--color-text-primary) !default;
$searchbar-text-font-size: var(--font-size-md-lg) !default;
$searchbar-text-line-height: var(--line-height-lg) !default;
$searchbar-text-font-weight: var(--font-weight-normal) !default;

$searchbar-button-background-color-base: white !default;
$searchbar-button-background-color-hover: #e9e9e9 !default;
$searchbar-button-background-color-active: var(--searchbar-button-background-color-base) !default;

$searchbar-button-text-color-base: var(--color-text-primary) !default;
$searchbar-button-text-color-active: var(--searchbar-button-text-color-base) !default;

:root {
  --searchbar-form-background-color: #{$searchbar-form-background-color};
  --searchbar-form-outline-color-base: #{$searchbar-form-outline-color-base};
  --searchbar-focus-shadow-height: #{$searchbar-focus-shadow-height};
  --searchbar-focus-shadow: #{$searchbar-focus-shadow};
  --searchbar-form-border-radius: #{$searchbar-form-border-radius};
  --searchbar-text-color: #{$searchbar-text-color};
  --searchbar-text-font-size: #{$searchbar-text-font-size};
  --searchbar-text-line-height: #{$searchbar-text-line-height};
  --searchbar-text-font-weight: #{$searchbar-text-font-weight};
  --searchbar-button-background-color-base: #{$searchbar-button-background-color-base};
  --searchbar-button-background-color-hover: #{$searchbar-button-background-color-hover};
  --searchbar-button-background-color-active: #{$searchbar-button-background-color-active};
  --searchbar-button-text-color-base: #{$searchbar-button-text-color-base};
  --searchbar-button-text-color-active: #{$searchbar-button-text-color-active};
}

.yxt-SearchBar, .yxt-GeoLocationFilter
{
  width: 100%;
  height: 51px;
  margin-bottom: 0;

  // Targeted CSS reset that prevents select user agent styles from interfering
  // with styling of SearchBar's buttons and input. Note that this resets CSS styling only for
  // elements with 'yxt' in the class name. It will not impact any customer styling.
  button[class*="yxt-"], input[class*="yxt-"]
  {
    appearance: none;
  }

  &-container
  {
    position: relative;
    overflow: hidden;
    z-index: 1;

    border-radius: var(--searchbar-form-border-radius);
    border: 1px solid var(--searchbar-form-outline-color-base);

    background-color: var(--searchbar-form-background-color);

    &:hover,
    &:focus-within
    {
      box-shadow: var(--searchbar-focus-shadow);
    }
  }

  &-form,
  &-input-wrapper
  {
    display: flex;
    margin: 0;
  }

  &-input
  {
    @include Text(
      $size: var(--searchbar-text-font-size),
      $line-height: var(--searchbar-text-line-height),
      $weight: var(--searchbar-text-font-weight),
      $color: var(--searchbar-text-color)
    );

    border: none;

    background-color: transparent;
    flex-grow: 1;
    padding-top: calc(var(--base-spacing) / 2);
    padding-bottom: calc(var(--base-spacing) / 2);
    padding-left: var(--base-spacing);
    padding-right: var(--base-spacing);

    &::-ms-clear
    {
      display: none;
      padding: 0;
      margin: 0;
    }

    &:-ms-input-placeholder
    {
      color: var(--color-text-secondary);
    }
  }

  &-clear
  {
    padding-left: calc(var(--base-spacing) / 2);
    padding-right: calc(var(--base-spacing) / 2);
  }

  &-button
  {
    padding-left: var(--base-spacing);
    padding-right: var(--base-spacing);
  }

  &-button,
  &-clear
  {
    display: flex;
    font: inherit;
    padding-top: calc(var(--base-spacing) / 2);
    padding-bottom: calc(var(--base-spacing) / 2);
    background-color: var(--searchbar-button-background-color-base);
    color: var(--color-text-secondary);
    cursor: pointer;

    border: none;

    &:focus
    {
      background-color: var(--searchbar-button-background-color-hover);
    }
  }

  &--hidden
  {
    display: none;
  }

  &-input,
  &-button
  {
    &:focus
    {
      outline: none;
    }
  }

  &-label
  {
    @include sr-only;
  }
}

.yxt-SearchBar
{
  &-title
  {
    @include Text(
      $size: var(--font-size-xlg),
      $line-height: var(--line-height-md),
      $weight: var(--font-weight-semibold),
      $color: var(--color-text-primary),
    );

    margin-bottom: var(--base-spacing);
    @media (max-width: $breakpoint-mobile-max) {
      margin-left: var(--base-spacing);
    }
  }

  &-AnimatedIcon--inactive svg
  {
    display: none;
  }

  &-AnimatedIcon--paused svg > g
  {
    animation-play-state: paused;
  }
}

.yxt-GeoLocationFilter
{
  &-title
  {
    @include sr-only;
  }
}
