/** @define SearchBar */
.yxt-SearchBar, .yxt-GeoLocationFilter
{
  $searchbar-form-background-color: white !default;
  $searchbar-form-outline-color-base: $color-borders !default;
  $searchbar-focus-shadow-height: 10px !default;
  $searchbar-focus-shadow: 0 0 $searchbar-focus-shadow-height 0 rgba(0, 0, 0, 0.1) !default;
  $searchbar-form-border-radius: 0.4*$base-spacing !default;

  $searchbar-text-color: $color-text-primary !default;
  $searchbar-text-font-size: $font-size-md-lg !default;
  $searchbar-text-line-height: $line-height-lg !default;
  $searchbar-text-font-weight: $font-weight-normal !default;

  $searchbar-button-background-color-base: white !default;
  $searchbar-button-background-color-hover: $searchbar-text-color !default;
  $searchbar-button-background-color-active: $searchbar-button-background-color-base !default;

  $searchbar-button-text-color-base: $color-text-primary !default;
  $searchbar-button-text-color-hover: white !default;
  $searchbar-button-text-color-active: $searchbar-button-text-color-base !default;

  width: 100%;
  height: 51px;
  margin-bottom: 0;

  &-container
  {
    position: relative;
    overflow: hidden;
    z-index: 1;

    @media (min-width: $breakpoint-mobile-min) {
      border-radius: $searchbar-form-border-radius;
      border: 1px solid $searchbar-form-outline-color-base;
    }

    background-color: $searchbar-form-background-color;

    &:hover,
    &:focus-within
    {
      box-shadow: $searchbar-focus-shadow;
    }
  }

  &-form
  {
    display: flex;
    margin: 0;
  }

  &-input
  {
    @include Text(
      $size: $searchbar-text-font-size,
      $line-height: $searchbar-text-line-height,
      $weight: $searchbar-text-font-weight,
      $color: $searchbar-text-color
    );

    background-color: transparent;
    flex-grow: 1;
    padding-top: $base-spacing / 2;
    padding-bottom: $base-spacing / 2;
    padding-left: $base-spacing;
    padding-right: $base-spacing;

    &::-ms-clear
    {
      display: none;
      padding: 0;
      margin: 0;
    }
  }

  &-clear
  {
    padding-left: $base-spacing / 2;
    padding-right: $base-spacing / 2;
  }

  &-button
  {
    padding-left: $base-spacing;
    padding-right: $base-spacing;
  }

  &-button,
  &-clear
  {
    display: flex;
    font: inherit;
    padding-top: $base-spacing / 2;
    padding-bottom: $base-spacing / 2;
    background-color: $searchbar-button-background-color-base;
    color: $color-text-secondary;
    cursor: pointer;

    &:focus
    {
      background-color: $searchbar-button-background-color-hover;
      color: $searchbar-button-text-color-hover;
    }
  }

  &--hidden
  {
    display: none;
  }

  &-input,
  &-button
  {
    &:focus
    {
      outline: none;
    }
  }

  &-label
  {
    @include sr-only;
  }
}

.yxt-SearchBar
{
  &-title
  {
    margin-bottom: $base-spacing;
    @media (max-width: $breakpoint-mobile-max) {
      margin-left: $base-spacing;
    }
  }
}

.yxt-GeoLocationFilter
{
  &-title
  {
    @include sr-only;
  }
}