/** @define SortOptions */

.yxt-SortOptions {
  &-container {
    @include Text($line-height: var(--yxt-line-height-md));
  }

  &-fieldSet {
    border: 0;
    padding: 0;
    margin: var(--yxt-base-spacing) 0;
  }

  &-legend {
    width: 100%;
    padding: 0;
  }

  &-legendLabel {
    @include Text(
      $size: var(--yxt-font-size-md-lg),
      $line-height: var(--yxt-line-height-lg),
      $weight: var(--yxt-font-weight-semibold));
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &-option {
    display: flex;
    align-items: flex-start;
    margin: 2px 0;
    @media (max-width: $breakpoint-mobile-max) {
      margin: 22px 0;
    }
  }

  &-options {
    margin: var(--yxt-base-spacing) 0;
  }

  &-optionLabel {
    display: block;
    margin-left: 5px;
  }

  &-optionSelector {
    &:focus {
      outline: .0625rem auto black;

      /* IE11 specific styling */  
      _:-ms-fullscreen, :root & { 
        // IE11 does not support auto, so use solid here
        outline: 1px solid black;
     }
    }
  }

  &-reset {
    @include Text(
      $color: var(--yxt-color-brand-primary),
      $style: italic);
    @include TextButton($padding: 0);

    @media (max-width: $breakpoint-mobile-max) {
      margin-top: var(--yxt-base-spacing) ;
    }

    &.js-hidden {
      display: none;
    }
  }

  &-showToggle {
    @include Text(
      $color: var(--yxt-color-brand-primary),
      $style: italic);
    @include TextButton($padding: 0);

    svg {
      width: 6px;
      margin-left: 5px;
    }
  }

  &-input {
    margin-left: 0;
  }
  
  &-collapseUp, &-collapseDown {
    vertical-align: middle;
  }

  &-collapseUp {
    padding-top: 2px;
  }

  &-collapseUp svg {
    transform: rotate(270deg);
  }

  &-collapseDown svg {
    transform: rotate(90deg);
  }

  &-apply {
    @include Text(
      $size: var(--yxt-font-size-md),
      $weight: var(--yxt-font-weight-semibold),
      $color: white);

    @include Button;

    color: white;
    box-sizing: border-box;
padding: var(--yxt-base-spacing-sm);
    letter-spacing: 0.5px;
    font-size: var(--yxt-font-size-md);
    font-weight: var(--yxt-font-weight-semibold);
    overflow-wrap: break-word;
    margin-top: var(--yxt-base-spacing-sm);

    &:focus
    {
      padding: calc(var(--yxt-base-spacing-sm) - var(--yxt-button-focus-border-size));
    }
  }
}
