/** @define SpellCheck */

$spellCheck-text-font-size: var(--yxt-font-size-md-lg) !default;
$spellCheck-text-font-weight: var(--yxt-font-weight-normal) !default;
$spellCheck-text-color: var(--yxt-color-text-primary) !default;
$spellCheck-container-height: var(--yxt-module-container-height) !default;

:root {
  --yxt-spellCheck-text-font-size: #{$spellCheck-text-font-size};
  --yxt-spellCheck-text-font-weight: #{$spellCheck-text-font-weight};
  --yxt-spellCheck-text-color: #{$spellCheck-text-color};
  --yxt-spellCheck-container-height: #{$spellCheck-container-height};
}

.yxt-SpellCheck
{
  @media (max-width: $breakpoint-mobile-max)
  {
    margin-left: var(--yxt-base-spacing);
  }

  margin-top: calc(var(--yxt-base-spacing)*2);
  padding-bottom: var(--yxt-base-spacing);
  display: block;

  .yxt-SpellCheck-helpText {
    font-size: var(--yxt-font-size-lg);
  }

  .yxt-SpellCheck-container {
    height: var(--yxt-spellCheck-container-height);
  }

  @include Text(
    $size: var(--yxt-spellCheck-text-font-size),
    $weight: var(--yxt-spellCheck-text-font-weight),
    $color: var(--yxt-spellCheck-text-color)
  );

  strong
  {
    font-style: italic;
    font-weight: var(--yxt-font-weight-semibold);
  }

  a
  {
    @include Link-1;
    text-decoration: none;
  }
}
