/** @define SpellCheck */

.yxt-SpellCheck
{
  $spellCheck-text-font-size: $font-size-md-lg !default;
  $spellCheck-text-font-weight: $font-weight-normal !default;
  $spellCheck-text-color: $color-text-primary !default;
  $spellCheck-container-height: $module-container-height !default;

  padding-top: $base-spacing*2;
  padding-bottom: $base-spacing;
  display: block;

  .yxt-SpellCheck-helpText {
    font-size: $font-size-lg;
  }

  .yxt-SpellCheck-container {
    height: $spellCheck-container-height;
  }

  @include Text(
    $size: $spellCheck-text-font-size,
    $weight: $spellCheck-text-font-weight,
    $color: $spellCheck-text-color
  );

  strong
  {
    font-style: italic;
    font-weight: $font-weight-semibold;
  }

  a
  {
    @include Link-1;
    text-decoration: none;
  }
}