/** @define StandardCard */

$standard-card-base-spacing: var(--yxt-base-spacing) !default;

$standard-card-link-color: var(--yxt-color-brand-primary) !default;
$standard-card-subtitle-color: var(--yxt-color-text-secondary) !default;
$standard-card-link-hover-color: var(--yxt-color-brand-hover) !default;

$standard-card-text-min-width: calc(8 * var(--yxt-standard-card-base-spacing)) !default;

$standard-card-cta-width: calc(8 * var(--yxt-standard-card-base-spacing)) !default;
$standard-card-wrapper-width: calc(10 * var(--yxt-standard-card-base-spacing)) !default;

$standard-card-ordinal-size: var(--yxt-base-spacing) !default;
$standard-card-ordinal-font-size: var(--yxt-font-size-xs) !default;

:root {
  --yxt-standard-card-base-spacing: #{$standard-card-base-spacing};
  --yxt-standard-card-link-color: #{$standard-card-link-color};
  --yxt-standard-card-subtitle-color: #{$standard-card-subtitle-color};
  --yxt-standard-card-link-hover-color: #{$standard-card-link-hover-color};
  --yxt-standard-card-cta-width: #{$standard-card-cta-width};
  --yxt-standard-card-wrapper-width: #{$standard-card-wrapper-width};
  --yxt-standard-card-ordinal-size: #{$standard-card-ordinal-size};
  --yxt-standard-card-ordinal-font-size: #{$standard-card-ordinal-font-size};
}

.yxt-StandardCard {
  padding: var(--yxt-standard-card-base-spacing);
  display: flex;

  @include Text();

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-basis: 0;
    flex-grow: 1;
  }

  &-ordinalWrapper {
    margin-right: calc(var(--yxt-standard-card-base-spacing) * 3/4);
  }

  &-ordinal {
    padding-top: calc(var(--yxt-standard-card-ordinal-size) * 3/16);
    padding-right: calc(var(--yxt-standard-card-ordinal-size) * 1/8);
    padding-bottom: calc(var(--yxt-standard-card-ordinal-size) * 5/16);
    padding-left: calc(var(--yxt-standard-card-ordinal-size) * 1/8);
    border-radius: var(--yxt-standard-card-ordinal-size);
    min-width: calc(var(--yxt-standard-card-ordinal-size) * 7/8);
    height: calc(var(--yxt-standard-card-ordinal-size) * 5/8);
    background-color: var(--yxt-color-brand-primary);
    border: solid black 1px;
    text-align: center;
    @include Text(
      $color: white,
      $size: var(--yxt-standard-card-ordinal-font-size),
      $line-height: var(--yxt-line-height-xs),
      $weight: var(--yxt-font-weight-bold),
    );
  }

  &-imgTagWrapper {
    display: flex;
    background-color: black;
    padding-top: calc(var(--yxt-base-spacing-sm)/4);
    padding-bottom: calc(var(--yxt-base-spacing-sm)/4);
    position: relative;
    top: 10%;
    width: 80%;
    left: 10%;
  }

  &-imgTag {
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    flex-grow: 1;
    word-break: break-word;
    @include Text(
      $color: white,
      $size: var(--yxt-font-size-md),
      $line-height: 20px,
      $weight: var(--yxt-font-weight-semibold),
    );
  }

  &-img {
    height: calc(var(--yxt-standard-card-base-spacing) * 10);
    min-width: calc(var(--yxt-standard-card-base-spacing) * 10);
    max-width: calc(var(--yxt-standard-card-base-spacing) * 15);
    flex-basis: 0;
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    margin-bottom: calc(var(--yxt-standard-card-base-spacing) / 2);
    margin-right: var(--yxt-standard-card-base-spacing);
  }

  &-contentWrapper {
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 3;
    flex-wrap: wrap;
  }

  &-title {
    @include Text(
      $size: var(--yxt-font-size-md-lg),
      $line-height: var(--yxt-line-height-lg),
      $weight: var(--yxt-font-weight-bold),
      $color: var(--yxt-color-text-primary)
    );
  }

  &-titleLink {
    text-decoration: none;
    display: block;
    @include Text(
      $size: var(--yxt-font-size-md-lg),
      $line-height: var(--yxt-line-height-lg),
      $weight: var(--yxt-font-weight-semibold),
      $color: var(--yxt-standard-card-link-color)
    );

    &:hover, &:focus {
      color: var(--yxt-standard-card-link-hover-color);
      text-decoration: underline;
    }
  }

  &-subtitle {
    padding-bottom: calc(var(--yxt-standard-card-base-spacing)/2);
    text-decoration: none;
    @include Text(
      $line-height: 20px,
      $weight: var(--yxt-font-weight-normal),
      $color: var(--yxt-standard-card-subtitle-color),
    );
  }

  &-content {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-details {
    min-width: calc(var(--yxt-standard-card-base-spacing) * 6);
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--yxt-standard-card-base-spacing) / 2);
    margin-right: var(--yxt-standard-card-base-spacing);
    flex-basis: 0;
    flex-grow: 2;
    word-break: break-word;
    @include Text(
      $size: var(--yxt-font-size-md),
      $line-height: var(--yxt-line-height-md),
      $weight: var(--yxt-font-weight-normal),
      $color: var(--yxt-color-text-primary)
    );

    &--noImage {
      flex-basis: calc(var(--yxt-standard-card-base-spacing) * 16);
    }

    @media (max-width: $breakpoint-mobile-max) 
    {
      flex-basis: 100%;
    }
  }

  &-toggle {
    text-align: left;
    @include Text(
      $color: var(--yxt-color-brand-primary),
      $line-height: var(--yxt-line-height-md),
      $style: italic);
    @include TextButton($padding: 0);
  }

  &-ctas {
    min-width: calc(var(--yxt-standard-card-base-spacing) * 8);
    width: 30%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
  }
}


