/** @define StandardCard */
.yxt-StandardCard {
  $standard-card-base-spacing: $base-spacing;

  $standard-card-link-color: $color-brand-primary !default;
  $standard-card-subtitle-color: $color-text-secondary !default;
  $standard-card-link-hover-color: $color-brand-hover !default;

  $standard-card-text-min-width: 8 * $standard-card-base-spacing;

  $standard-card-cta-width: 8 * $standard-card-base-spacing !default;
  $standard-card-wrapper-width: 10 * $standard-card-base-spacing !default;

  $standard-card-ordinal-size: $base-spacing !default;
  $standard-card-ordinal-font-size: $font-size-xs;

  padding: $standard-card-base-spacing;
  display: flex;

  @include Text();

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-basis: 0;
    flex-grow: 1;
  }

  &-ordinalWrapper {
    margin-right: $standard-card-base-spacing * 3/4;
  }

  &-ordinal {
    padding-top: $standard-card-ordinal-size * 3/16;
    padding-right: $standard-card-ordinal-size * 1/8;
    padding-bottom: $standard-card-ordinal-size * 5/16;
    padding-left: $standard-card-ordinal-size * 1/8;
    border-radius: $standard-card-ordinal-size;
    min-width: $standard-card-ordinal-size * 7/8;
    height: $standard-card-ordinal-size * 5/8;
    background-color: $color-brand-primary;
    border: solid black 1px;
    text-align: center;
    @include Text(
      $color: white,
      $size: $standard-card-ordinal-font-size,
      $line-height: $line-height-xs,
      $weight: $font-weight-bold,
    );
  }

  &-imgTagWrapper {
    display: flex;
    background-color: black;
    padding-top: $base-spacing-sm/4;
    padding-bottom: $base-spacing-sm/4;
    position: relative;
    top: 10%;
    width: 80%;
    left: 10%;
  }

  &-imgTag {
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    flex-grow: 1;
    word-break: break-word;
    @include Text(
      $color: white,
      $size: $font-size-md,
      $line-height: 20px,
      $weight: $font-weight-semibold,
    );
  }

  &-img {
    height: $standard-card-base-spacing * 10;
    min-width: $standard-card-base-spacing * 7;
    flex-basis: 0;
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    margin-bottom: $standard-card-base-spacing / 2;
    margin-right: $standard-card-base-spacing;
  }

  &-contentWrapper {
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 3;
    flex-wrap: wrap;
    min-width: 50%;
  }

  &-title {
    @include Text(
      $size: $font-size-md-lg,
      $line-height: $line-height-lg,
      $weight: $font-weight-bold,
      $color: $color-text-primary
    );
  }

  &-titleLink {
    text-decoration: none;
    display: block;
    @include Text(
      $size: $font-size-md-lg,
      $line-height: $line-height-lg,
      $weight: $font-weight-semibold,
      $color: $standard-card-link-color
    );

    &:hover, &:focus {
      color: $standard-card-link-hover-color;
      text-decoration: underline;
    }
  }

  &-subtitle {
    padding-bottom: $standard-card-base-spacing/2;
    text-decoration: none;
    @include Text(
      $line-height: 20px,
      $weight: $font-weight-normal,
      $color: $standard-card-subtitle-color,
    );
  }

  &-content {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-details {
    min-width: $standard-card-base-spacing * 6;
    display: flex;
    flex-direction: column;
    margin-bottom: $standard-card-base-spacing / 2;
    margin-right: $standard-card-base-spacing;
    flex-basis: 0;
    flex-grow: 1;
    @include Text(
      $size: $font-size-md,
      $line-height: $line-height-md,
      $weight: $font-weight-normal,
      $color: $color-text-primary
    );
  }

  &-toggle {
    text-align: left;
    @include Text(
      $color: $color-brand-primary,
      $line-height: $line-height-md,
      $style: italic);
    @include TextButton($padding: 0);
  }

  &-ctas {
    min-width: $standard-card-base-spacing * 6;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
  }
}


