<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="{{cssUrl}}">
  <link rel="stylesheet" href="public/style.css">
  <script type="application/json" id="config">
    {{configJson}}
  </script>
  <script src="public/app.js" defer></script>
  <script src="{{bundleUrl}}" onload="ANSWERS.domReady(initAnswers)" defer></script>
</head>
