<!DOCTYPE html>
<html lang="en">
{{> metadata }}
<body>
  <nav class="navigation-container"></nav>
  <div class="search">
    <main>
      <div class="search-container"></div>
      <div class="direct-answer-container"></div>
      <div class="universal-results-container"></div>
      <div class="question-submission-container"></div>
    </main>
  </div>
</body>
</html>
