<!DOCTYPE html>
<html lang="en">
{{> metadata }}
<body>
  <nav class="navigation-container"></nav>
  <div class="search">
    <div class="sidebar">
      <div class="filter-search-container"></div>
      <div class="facets-container"></div>
      <div class="filters-container"></div>
    </div>
    <main>
      <div class="search-container"></div>
      <div class="results-container"></div>
    </main>
  </div>
</body>
</html>
