.search {
  display: flex;
  max-width: 900px;
  margin: 0 auto;

  flex-flow: row wrap;
  justify-content: center;
}

main {
  width: min-content;
  flex: 100000 1 auto;
}

.sidebar {
  position: sticky;
  top: 0;

  flex: 1 0 15rem;
}

.yxt-Nav-expanded {
  flex-grow: 1;
  justify-content: space-around;
}

.yxt-QuestionSubmission::before {
  content: "Can't find your answer?";
  display: block;
  font-size: 200%;
  font-weight: bolder;
}