<a class='yxt-CTA'         
  {{#if _config.url}} 
    href="{{_config.url}}"
    target={{#if _config.newWindow}}"_blank" rel="noopener noreferrer nofollow"{{else}}"_self"{{/if}}
  {{/if}}
>
  <div class='yxt-CTA-icon' data-component='IconComponent' data-opts='{ "iconName": "{{_config.icon}}" }'></div>
  <div class='yxt-CTA-iconLabel'>
    {{_config.label}}
  </div>
</a>
