body {
  font-family: tahoma;
  font-size: 12pt;
  width: 960px;
  margin: 0 auto;
}


.custom-search-class input {
  display: block;
  width: 100%;
  height: 30px;
  margin: 10px 0;
}

.people-results-container {
  color: blue;
}

.custom-results-class {
  width: 48%;
  padding: 20px;
  display: inline-block;
  vertical-align:top;
  box-sizing: border-box;
  margin: 0 auto;
}

.custom-results-class .results-list {
  padding: 10px;
  flex: 0 0 100%;
}

.custom-results-class ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.custom-results-class ul li {
  margin: 20px 0;
  padding: 20px 0 0;
  border-top: 1px #ccc dashed;
}

.custom-results-class .event-performers {
  margin: 5px 30px;
}

.custom-results-class .event-performers li {
  padding: 5px;
  margin: 0;
  border: none;
  list-style-type: disc;
}