<div class="yext-direct-answer">
  <div class="yext-direct-answer-title">
    <span class="yext-direct-answer-entity-name">
      {{answer.entityName}}
    </span>
    /
    <span class="yext-direct-answer-field-name">
      {{answer.fieldName}}
    </span>
  </div>
  <h2 class="yext-direct-answer-field-value">
   {{answer.value}}
  </h2>
</div>
