<div class="yext-direct-answer">
  <span class="yext-direct-answer-entity-name">
    {{answer.entityName}} -
  </span>
  <span class="yext-direct-answer-field-name">
    {{answer.fieldName}}:
  </span>
  <span class="yext-direct-answer-field-value">
   {{answer.value}}
  </span>
</div>
