<li class="yext-event-result-item">
  <div class="yext-event-result-item-info">
    <h3>{{venueName}}<h3>
    <h4 class="yext-event-description">{{description}}</h4>
    <ul class="yext-event-photo-container">
    {{#each photoGallery}}
      <li class="yext-event-photo">
        <img src="{{image.url}}" width=50 height=50>
      </li>
    {{/each}}
    </ul>

    <ul class="yext-event-performer-container">
      {{#each performers}}
        <li class="yext-event-performer">{{this}}</li>
      {{/each}}
    </ul>
  </div>
</li>