<li class="people-result-item">
  <div class="people-result-item-info">
    <b>Name:</b> {{name}}
    <br>
    <b>Profession:</b> {{profession}}<br>
    <b>Description:</b> {{description}}
  </div>
</li>