{{#if results}}
  <section class="yxt-Results yxt-Results--{{verticalConfigId}}">
    {{> results/resultssectionheader}}
    {{#if includeMap}}
      <div class="yxt-Results-map"
           data-component="Map"
           data-prop="map"
           data-opts='{ "isStatic": true }'>
      </div>
    {{/if}}
    {{> results/resultitems}}
  </section>
{{/if}}
