<section class="result-list">
  <h3>Results ({{resultsCount}}): {{verticalConfigId}}</h3>
  <ul class="result-items"
      data-component="ResultsItemComponent"
      data-prop="results">
  </ul>
</section>