{{#if isSearchComplete}}
  {{#if showNoResults}}
    {{> results/noresults}}
  {{else}}
    <div class="yxt-UniversalResults">
      {{#each sections}}
        <div data-component="VerticalResults" data-opts='{ "verticalKey": "{{ verticalConfigId }}" }'></div>
      {{/each}}
    </div>
  {{/if}}
{{/if}}
