{{#if isSearchComplete}}
  {{#if showNoResults}}
    {{> results/noresults}}
  {{else}}
    <div class="yxt-UniversalResults">
      {{#each sectionComponents}}
        <div data-component="{{componentType}}" data-opts='{ "verticalKey": "{{verticalKey}}" }'></div>
      {{/each}}
    </div>
  {{/if}}
{{/if}}
