{{#if isSearchComplete}}
  {{#if showNoResults}}
    {{> results/noresults}}
  {{else}}
    <section class="yxt-VerticalResults yxt-VerticalResults--{{_config.modifier}}">
      {{> results/resultssectionheader}}
      {{#if includeMap}}
        <div class="yxt-VerticalResults-map"
             data-component="Map"
             data-prop="map">
        </div>
      {{/if}}
      {{> results/resultitems}}
    </section>
  {{/if}}
{{/if}}
