{{#if isSearchComplete}}
  {{#if showNoResults}}
    {{> results/noresults}}
  {{else}}
    <section class="yxt-Results yxt-Results--{{_config.modifier}}">
      {{> results/resultssectionheader}}
      {{#if includeMap}}
        <div class="yxt-Results-map"
             data-component="Map"
             data-prop="map">
        </div>
      {{/if}}
      <ul class="yxt-Results-items"
        data-component="Card"
        data-prop="results">
      </ul>
    </section>
    {{#if results}}
      <div data-component='Footer'
        data-opts='{{json _config.footer}}'
      ></div>
    {{/if}}
  {{/if}}
{{/if}}
