{{#unless (eq total 0)}}
  <div class="yxt-VerticalResultsCount"
    aria-label="{{translate phrase='[[start]] through [[end]] of [[resultsCount]]' start=pageStart end=pageEnd resultsCount=total }}">
    <div aria-hidden="true">
      {{translate
        phrase='[[start]] through [[end]] of [[resultsCount]]'
        start=pageStart
        end=pageEnd
        resultsCount=total
      }}
    </div>
  </div>
{{/unless}}