{{#if isSearchComplete}}
  {{#if showNoResults}}
    {{#if showEnhancedNoResults}}
      <div class="yxt-Results-alternativeVerticals"
           data-component="AlternativeVerticals"></div>
    {{else}}
      {{> results/noresults}}
    {{/if}}
  {{/if}}
  {{#if showResults}}
    <section class="yxt-Results yxt-Results--{{_config.modifier}}">
      {{> results/resultssectionheader}}
      {{#if includeMap}}
        <div class="yxt-Results-map"
             data-component="Map"
             data-prop="map">
        </div>
      {{/if}}
      <ul class="yxt-Results-items yxt-Results-items-{{numColumns}}"
        data-component="Card"
        data-prop="results">
      </ul>
    </section>
    {{#if results}}
      <div data-component='Footer'
        data-opts='{{json _config.footer}}'
      ></div>
    {{/if}}
  {{/if}}
{{/if}}
