<nav class="yxt-Nav-container js-yxt-navContainer">
  {{#each tabs}}
    <a class="js-yxt-navItem yxt-Nav-item{{#if isActive}} is-active{{/if}}"
       href="{{url}}"
       data-eventtype="VERTICAL_SEARCHER_TAB"
       data-eventoptions='{{eventOptions}}'>
      {{label}}
    </a>
  {{/each}}
  <button class="yxt-Nav-item yxt-Nav-more yxt-Nav-item--more js-yxt-navMore">
    More
    <div class="yxt-Nav-modal js-yxt-navModal"></div>
  </button>
</nav>
