<div class="yxt-Nav-modal js-yxt-navModal"></div>
<nav class="yxt-Nav-container js-yxt-navContainer">
  {{#each tabs}}
    <a class="js-yxt-navItem yxt-Nav-item{{#if isActive}} is-active{{/if}}" href="{{url}}">
      {{label}}
    </a>
  {{/each}}
  <button class="yxt-Nav-item yxt-Nav-more yxt-Nav-item--more js-yxt-navMore">More</button>
</nav>
