<nav class="yxt-Nav-container js-yxt-navContainer">
  {{#each tabs}}
    <a class="js-yxt-navItem yxt-Nav-item{{#if isActive}} is-active{{/if}}"
       href="{{url}}"
       data-eventtype="VERTICAL_SEARCHER_TAB"
       data-eventoptions='{{eventOptions}}'>
      {{label}}
    </a>
  {{/each}}
</nav>
