<nav class="yxt-Nav-container js-yxt-navContainer">
  {{#each tabs}}
    <a class="js-yxt-navItem yxt-Nav-item{{#if isActive}} is-active{{/if}}"
       href="{{url}}"
       data-eventtype="{{#if @first}}ALL_TAB_NAVIGATION{{else}}VERTICAL_TAB_NAVIGATION{{/if}}"
       data-eventoptions='{{eventOptions}}'>
      {{label}}
    </a>
  {{/each}}
  <button class="yxt-Nav-item yxt-Nav-more yxt-Nav-item--more js-yxt-navMore">
    <div class="yxt-Nav-moreIconWrapper">
      <span class="yxt-Nav-moreIcon"
      data-component="IconComponent"
      data-opts='{"iconName": "kabob"}'
      data-prop="icon"></span>
    </div>
    More
    <div class="yxt-Nav-modal js-yxt-navModal"></div>
  </button>
</nav>
