{{#each callsToAction}}
  {{#if this.url}}
    {{#if this.label}}
      <div class='yxt-StandardCard-ctas-item'
        data-component='CTA'
        data-opts='{{json this}}'
      >
      </div>
    {{/if}}
  {{/if}}
{{/each}}