{{#each callsToAction}}
  {{#if this.url}}
    {{#if this.label}}
      <div class='yxt-CTACollection-item'
        data-component='CTA'
        data-opts='{{json this}}'>
      </div>
    {{/if}}
  {{/if}}
{{/each}}