{{#each callsToAction}}
  {{#if this}}
    <div class='yxt-CTACollection-item{{#if includeLegacyClasses}} Result-ctaWrapper{{/if}}'
      data-component='CTA'
      data-opts='{{json this}}'>
    </div>
  {{/if}}
{{/each}}
