.yxt-ShowMore
{
  &-details {
    @include Text(
      $size: $font-size-md,
      $line-height: $line-height-md,
      $weight: $font-weight-normal,
      $color: $color-text-primary
    );
  }

  &-toggle {
    @include Text(
      $color: $color-brand-primary,
      $style: italic);
    @include TextButton($padding: 0);
  }
}
