<span class="yxt-SearchBar-voiceIconWrapper Icon--lg">
  <span class="yxt-SearchBar-micIconWrapper {{#if customMicIconUrl}}yxt-SearchBar-CustomMicIcon{{/if}}">
    {{#if customMicIconUrl}}
      {{> icons/iconPartial iconUrl=customMicIconUrl}}
    {{else}}
      {{> icons/builtInIcon iconName='voice_search_mic'}}
    {{/if}}
  </span>
  <span class="yxt-SearchBar-listeningIconWrapper {{#if customListeningIconUrl}}yxt-SearchBar-CustomListeningIcon{{/if}}">
    {{#if customListeningIconUrl}}
      {{> icons/iconPartial iconUrl=customListeningIconUrl}}
    {{else}}
      {{> icons/builtInIcon iconName='voice_search_dots'}}
    {{/if}}
  </span>
  <span class="yxt-SearchBar-voiceSearchText sr-only"></span>
</span>
