<div>
  {{#each filterConfigs}}
    <div class="js-yext-filterbox-filter{{@index}}"></div>
  {{/each}}
  {{#if showApplyButton}}
    <div>
      <button type="button"
              class="js-yext-filterbox-apply"
              {{#if applyEventType}} data-eventtype="{{applyEventType}}"{{/if}}
              {{#if applyEventPptions}} data-eventoptions='{{applyEventOptions}}'{{/if}}>
        Apply
      </button>
    </div>
  {{/if}}
</div>
