name: Run acceptance tests

on: workflow_call
jobs:
  headless_acceptance:
    name: Headless Acceptance
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - run: npm ci
      - name: Download build-output-US artifact
        uses: actions/download-artifact@v3
        with:
          name: build-output-US
          path: dist/
      - run: npx testcafe -c 3 "chrome:headless,firefox:headless" --config-file ./.github/testcafe_search_bar.json -q
