name: Run acceptance tests

on: workflow_call

jobs:
  headless_acceptance:
    name: Headless Acceptance
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - name: Download build-output-US artifact
        uses: actions/download-artifact@v4
        with:
          name: build-output-US
          path: dist/
      - run: ./.github/run_headless_acceptance.sh

