name: Build and deploy i18n

on:
  push:
    branches:
      - dev/build-and-deploy-i18n # for testing
      - develop
      - support/**
      - hotfix/**
      - feature/**-i18n
      - release/**

jobs:
  call_build:
    uses: ./.github/workflows/build.yml
    with:
      build_script: build-locales

  call_unit_test:
    uses: ./.github/workflows/unit_test.yml
    needs: call_build

  call_format_branch_name:
    uses: ./.github/workflows/format_branch_name.yml
  
  #debug
  call_test:
    runs-on: ubuntu-latest
    steps:
      run: echo "github.ref_name is ${github.ref_name}"

  # call_deploy:
  #   if: github.ref_name != 'dev/build-and-deploy-i18n' #develop
  #   needs: 
  #     - call_unit_test
  #     - call_format_branch_name
  #   uses: ./.github/workflows/deploy.yml
  #   with:
  #     directory: dev/${{ needs.call_format_branch_name.outputs.formatted_branch }}/test-call-deploy
  #   secrets:
  #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  # call_deploy_canary:
  #   if: github.ref_name == 'dev/build-and-deploy-i18n' #develop
  #   needs: 
  #     - call_unit_test
  #     - call_format_branch_name
  #   uses: ./.github/workflows/deploy.yml
  #   with:
  #     directory: dev/${{ needs.call_format_branch_name.outputs.formatted_branch }}/test-call-deploy-canary-latest #canary/latest
  #   secrets:
  #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  # call_deploy_canary_sha:
  #   if: github.ref_name == 'dev/build-and-deploy-i18n' #develop
  #   needs: 
  #     - call_unit_test
  #     - call_format_branch_name
  #   uses: ./.github/workflows/deploy.yml
  #   with:
  #     directory: dev/${{ needs.call_format_branch_name.outputs.formatted_branch }}/test-call-deploy-canary-${{ github.sha }} #canary/${{ github.sha }}
  #     cache-control: 'max-age=31536000'
  #   secrets:
  #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

concurrency:
  group: ci-build-and-deploy-i18n-${{ github.ref }}-1
  cancel-in-progress: true