name: Build and deploy

on:
  push:
    branches-ignore:
      - develop
      - master
      - support/**
      - hotfix/**
      - feature/**-i18n
      - release/**

jobs:
  call_build:
    uses: ./.github/workflows/build.yml

  call_unit_test:
    uses: ./.github/workflows/unit_test.yml
    needs: call_build

  call_format_branch_name:
    uses: ./.github/workflows/format_branch_name.yml

  call_deploy:
    needs: 
      - call_unit_test
      - call_format_branch_name
    uses: ./.github/workflows/deploy.yml
    with:
      directory: dev/${{ needs.call_format_branch_name.outputs.formatted_branch }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

concurrency:
  group: ci-build-and-deploy-${{ github.ref }}-1
  cancel-in-progress: true