name: Build Answers assets

on:
  workflow_call:
    inputs:
      build_script:
        required: false
        default: build
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Use Node.js 16
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'npm'
    - run: npm ci
    - run: npm run ${{ inputs.build_script }}
    - name: Create build-output-US artifact
      uses: actions/upload-artifact@v3
      with:
        name: build-output-US
        path: dist/
