name: Build and deploy i18n

on:
  push:
    branches:
      - develop
      - hotfix/**
      - feature/**-i18n
      - release/**
      - dev/**

jobs:
  call_build:
    uses: ./.github/workflows/build.yml
    with:
      build_script: build-unminified-legacy

  call_build_eu_locales:
    uses: ./.github/workflows/build_i18n.yml
    with:
      cloud_region: EU

  call_unit_test:
    uses: ./.github/workflows/unit_test.yml
    needs: call_build

  call_misc_tests:
    uses: ./.github/workflows/miscellaneous_tests.yml

  call_format_branch_name:
    uses: ./.github/workflows/format_branch_name.yml

  call_acceptance:
    uses: ./.github/workflows/acceptance.yml
    needs: call_build

  call_build_locales:
    uses: ./.github/workflows/build_i18n.yml

  call_deploy:
    if: github.ref_name != 'develop'
    needs:
      - call_unit_test
      - call_format_branch_name
      - call_acceptance
      - call_misc_tests
      - call_build_locales
    uses: ./.github/workflows/deploy.yml
    with:
      directory: dev/${{ needs.call_format_branch_name.outputs.formatted_branch }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  call_deploy_canary:
    if: github.ref_name == 'dev/test-deploy-canary'
    needs:
      - call_unit_test
      - call_format_branch_name
      - call_acceptance
      - call_misc_tests
      - call_build_locales
      - call_build_eu_locales
    uses: ./.github/workflows/deploy.yml
    with:
      directory: canary/latest
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  call_deploy_canary_sha:
    if: github.ref_name == 'develop'
    needs:
      - call_unit_test
      - call_format_branch_name
      - call_acceptance
      - call_misc_tests
      - call_build_locales
    uses: ./.github/workflows/deploy.yml
    with:
      directory: canary/${{ github.sha }}
      cache-control: 'max-age=31536000'
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

concurrency:
  group: ci-build-and-deploy-i18n-${{ github.ref }}-1
  cancel-in-progress: true
