name: Run miscellaneous tests

on:
  workflow_call:

jobs:
  translation_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'npm'
      - run: npm ci
      - run: sudo apt-get install -qq gettext
      - run: ./.github/run_translation_verification.sh